In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/apart/1. 병원정보서비스 2021.6.csv',encoding='cp949')

In [ ]:
df.head()

                                          암호화YKIHO코드  ...        y좌표
0  JDQ4MTYyMiM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...  ...  37.484831
1  JDQ4MTYyMiM1MSMkMSMkNCMkODkkMzgxMzUxIzExIyQxIy...  ...  37.818433
2  JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...  ...  37.568408
3  JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...  ...  37.540376
4  JDQ4MTYyMiM4MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...  ...  35.866774

[5 rows x 29 columns]

In [ ]:
df[df['시도코드명']=='서울']

                                              암호화YKIHO코드  ...        y좌표
2      JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...  ...  37.568408
3      JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...  ...  37.540376
6      JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...  ...  37.594119
8      JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...  ...  37.492052
15     JDQ4MTg4MSM1MSMkMSMkMCMkODkkMzgxMzUxIzExIyQxIy...  ...  37.488298
...                                                  ...  ...        ...
74350  JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxOTYxIzIxIyQxIy...  ...  37.646301
74359  JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxOTYxIzUxIyQxIy...  ...  37.561526
74361  JDQ4MTg4MSM1MSMkMSMkNCMkMTMkNDgxMzUxIzUxIyQxIy...  ...  37.538123
74362  JDQ4MTg4MSM1MSMkMSMkNCMkMTMkMzgxNzAyIzUxIyQxIy...  ...  37.530005
74363  JDQ4MTg4MSM1MSMkMiMkOCMkMDAkMzgxMzUxIzExIyQyIy...  ...        NaN

[18183 rows x 29 columns]

In [ ]:
df=df[(df['시도코드명']=='서울') & ((df['종별코드']==1 )|  (df['종별코드']==11 ))][['종별코드명','시도코드명','시군구코드명','읍면동','주소']]

In [ ]:
df.columns

Index(['종별코드명', '시도코드명', '시군구코드명', '읍면동', '주소'], dtype='object')

In [ ]:
df.columns = ['Class','Si','Gu','Dong','Address']

In [ ]:
df.head()

   Class  Si    Gu Dong                             Address
2   상급종합  서울   종로구  NaN              서울특별시 종로구 새문안로 29 (평동)
3   상급종합  서울   광진구  NaN           서울특별시 광진구 능동로 120-1 (화양동)
6   상급종합  서울  동대문구  NaN            서울특별시 동대문구 경희대로 23 (회기동)
8   상급종합  서울   구로구  NaN  서울특별시 구로구 구로동로 148 고려대부속구로병원 (구로동)
15  상급종합  서울   강남구  NaN       서울특별시 강남구 일원로 81 (일원동, 삼성의료원)

In [ ]:
df1=df[~df.Dong.isnull()]

In [ ]:
df2=df[df.Dong.isnull()]

In [ ]:
a = df2.Address.str.find('(')

In [ ]:
a.index[0]

2

In [ ]:
a[a.index[0]]

18

In [ ]:
df.Address.loc[2][a[2]+1:-1]

'평동'

In [ ]:
df.Address.loc[0][a[0]+1:-1]

KeyError: ignored

In [ ]:
df2.Address.loc[a.index[0]][a[a.index[0]]+1:-1]

'평동'

In [ ]:
for i in range(len(a)):
    df2.Address.loc[a.index[i]] = df2.Address.loc[a.index[i]][a[a.index[i]]+1:-1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df2.head()

   Class  Si    Gu Dong     Address
2   상급종합  서울   종로구  NaN          평동
3   상급종합  서울   광진구  NaN         화양동
6   상급종합  서울  동대문구  NaN         회기동
8   상급종합  서울   구로구  NaN         구로동
15  상급종합  서울   강남구  NaN  일원동, 삼성의료원

In [ ]:
df.head()

   Class  Si    Gu Dong                             Address
2   상급종합  서울   종로구  NaN              서울특별시 종로구 새문안로 29 (평동)
3   상급종합  서울   광진구  NaN           서울특별시 광진구 능동로 120-1 (화양동)
6   상급종합  서울  동대문구  NaN            서울특별시 동대문구 경희대로 23 (회기동)
8   상급종합  서울   구로구  NaN  서울특별시 구로구 구로동로 148 고려대부속구로병원 (구로동)
15  상급종합  서울   강남구  NaN       서울특별시 강남구 일원로 81 (일원동, 삼성의료원)

In [ ]:
df2.Address.str.find(',')

2     -1
3     -1
6     -1
8     -1
15     3
16    -1
22    -1
26    -1
29    -1
33    -1
37    -1
39    -1
41    -1
43    -1
51    -1
52    -1
56    -1
76    -1
91    -1
96    -1
108   -1
109   -1
115    3
129   -1
134   -1
136   -1
149   -1
158   -1
159   -1
160   -1
161   -1
162   -1
163   -1
168   -1
169    3
170   -1
176   -1
183   -1
195   -1
241   -1
252   -1
265    3
279    3
283   -1
290   -1
293   -1
294   -1
319    8
344   -1
345   -1
346    3
347    6
358   -1
363   -1
Name: Address, dtype: int64

In [ ]:
df.loc[346]

Class                                종합병원
Si                                     서울
Gu                                   영등포구
Dong                                  NaN
Address    서울특별시 영등포구 신길로 1 (대림동, 강남성심병원)
Name: 346, dtype: object

In [ ]:
b = df2.Address.str.find(',')

In [ ]:
b.index[1]

3

In [ ]:
for i in range(len(b)):
    if b[b.index[i]] == -1:
        b[b.index[i]] = 0

In [ ]:
b

2      0
3      0
6      0
8      0
15     3
16     0
22     0
26     0
29     0
33     0
37     0
39     0
41     0
43     0
51     0
52     0
56     0
76     0
91     0
96     0
108    0
109    0
115    3
129    0
134    0
136    0
149    0
158    0
159    0
160    0
161    0
162    0
163    0
168    0
169    3
170    0
176    0
183    0
195    0
241    0
252    0
265    3
279    3
283    0
290    0
293    0
294    0
319    8
344    0
345    0
346    3
347    6
358    0
363    0
Name: Address, dtype: int64

In [ ]:
b1 = b[b>0]

In [ ]:
b1

15     3
115    3
169    3
265    3
279    3
319    8
346    3
347    6
Name: Address, dtype: int64

In [ ]:
len(b1)

8

In [ ]:
df2.Address[15].split(',')[0]

'일원동'

In [ ]:
df2.Address[b1.index[1]]

'대림동, 대림성모병원'

In [ ]:
b1

15     3
115    3
169    3
265    3
279    3
319    8
346    3
347    6
Name: Address, dtype: int64

In [ ]:
b.loc[15]

3

In [ ]:
df2.Address.loc[b1.index[7]].split(',')[0]

'영등포동7가'

In [ ]:
df2.Address[b1.index[4]].split(',')[0]

'망우동'

In [ ]:
df2['Address_1'] = df2.Address

for i in range(len(b1)):
    df2['Address_1'].loc[b1.index[i]] = df2.Address.loc[b1.index[i]].split(',')[0]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
df2.head(10)

   Class  Si    Gu Dong     Address Address_1
2   상급종합  서울   종로구  NaN          평동        평동
3   상급종합  서울   광진구  NaN         화양동       화양동
6   상급종합  서울  동대문구  NaN         회기동       회기동
8   상급종합  서울   구로구  NaN         구로동       구로동
15  상급종합  서울   강남구  NaN  일원동, 삼성의료원       일원동
16  상급종합  서울   종로구  NaN         연건동       연건동
22  상급종합  서울   강남구  NaN         도곡동       도곡동
26  상급종합  서울   양천구  NaN          목동        목동
29  상급종합  서울   송파구  NaN         풍납동       풍납동
33  상급종합  서울   동작구  NaN         흑석동       흑석동

In [ ]:
df2.tail(20)

    Class  Si  ...                                            Address Address_1
169  종합병원  서울  ...                                          신길동, 성애병원       신길동
170  종합병원  서울  ...                                                무악동       무악동
176  종합병원  서울  ...                                                한남동       한남동
183  종합병원  서울  ...                                                신림동       신림동
195  종합병원  서울  ...                                                과해동       과해동
241  종합병원  서울  ...                                                갈현동       갈현동
252  종합병원  서울  ...                                                홍은동       홍은동
265  종합병원  서울  ...                                          수유동, 대한병원       수유동
279  종합병원  서울  ...                                        망우동, 동부제일병원       망우동
283  종합병원  서울  ...                                                쌍문동       쌍문동
290  종합병원  서울  ...                                                마곡동       마곡동
293  종합병원  서울  ...                                                상계동       상계동
294  종합병원  서울  ...                                               저동2가      저동2가
319  종합병원  서울  ...  역삼동650-9, 606-4, 605외2필지(지하7층~지하1층, 지상2층~7층)) ...  역삼동650-9
344  종합병원  서울  ...                                                둔촌동       둔촌동
345  종합병원  서울  ...                                                공릉동       공릉동
346  종합병원  서울  ...                                        대림동, 강남성심병원       대림동
347  종합병원  서울  ...                                     영등포동7가, 한강성심병원    영등포동7가
358  종합병원  서울  ...                                                자양동       자양동
363  종합병원  서울  ...                                                시흥동       시흥동

[20 rows x 6 columns]

In [ ]:
df2.loc[319,'Address_1']='역삼동'

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df2.loc[319]

Class                                                     종합병원
Si                                                          서울
Gu                                                         강남구
Dong                                                       NaN
Address      역삼동650-9, 606-4, 605외2필지(지하7층~지하1층, 지상2층~7층)) ...
Address_1                                                  역삼동
Name: 319, dtype: object

In [ ]:
df2.Address_1.value_counts()

대림동       3
평동        2
무악동       1
안암동5가     1
신촌동       1
일원동       1
신길동       1
도곡동       1
한남동       1
신림동       1
역삼동       1
둔촌동       1
구로동       1
망우동       1
목동        1
수유동       1
고척동       1
연건동       1
신정동       1
용두동       1
흑석동       1
길동        1
저동2가      1
반포동       1
휘경동       1
사근동       1
하계동       1
회기동       1
영등포동7가    1
쌍문동       1
갈현동       1
진관동       1
홍은동       1
공릉동       1
내발산동      1
등촌동       1
을지로6가     1
시흥동       1
여의도동      1
가락동       1
신내동       1
신대방동      1
상계동       1
과해동       1
상일동       1
마곡동       1
풍납동       1
자양동       1
면목동       1
화양동       1
청량리동      1
Name: Address_1, dtype: int64

In [ ]:
df2.Dong = df2.Address_1
df2.head()

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

   Class  Si    Gu Dong     Address Address_1
2   상급종합  서울   종로구   평동          평동        평동
3   상급종합  서울   광진구  화양동         화양동       화양동
6   상급종합  서울  동대문구  회기동         회기동       회기동
8   상급종합  서울   구로구  구로동         구로동       구로동
15  상급종합  서울   강남구  일원동  일원동, 삼성의료원       일원동

In [ ]:
df2.drop(['Address','Address_1'],axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df2.head()

   Class  Si    Gu Dong
2   상급종합  서울   종로구   평동
3   상급종합  서울   광진구  화양동
6   상급종합  서울  동대문구  회기동
8   상급종합  서울   구로구  구로동
15  상급종합  서울   강남구  일원동

In [ ]:
df1.head()

    Class  Si    Gu    Dong                                            Address
178  종합병원  서울  영등포구  영등포동4가  서울특별시 영등포구 영등포로36길 13 (영등포동4가, 충무병원),  문래로 187...
359  종합병원  서울   양천구     신정동                     서울특별시 양천구 목동로 225 홍익병원본관 (신정동)

In [ ]:
df1.drop('Address',axis=1,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df=df1.append(df2)

In [ ]:
df.count()

Class    56
Si       56
Gu       56
Dong     56
dtype: int64

In [ ]:
df.drop('Class',axis=1,inplace=True)

In [ ]:
hospital = df.groupby(['Gu','Dong']).count()

In [ ]:
hospital.columns=['Hospital']

In [ ]:
hospital

             Hospital
Gu   Dong
강남구  도곡동            1
     역삼동            1
     일원동            1
강동구  길동             1
     둔촌동            1
     상일동            1
강북구  수유동            1
강서구  과해동            1
     내발산동           1
     등촌동            1
     마곡동            1
관악구  신림동            1
광진구  자양동            1
     화양동            1
구로구  고척동            1
     구로동            1
금천구  시흥동            1
노원구  공릉동            1
     상계동            1
     하계동            1
도봉구  쌍문동            1
동대문구 용두동            1
     청량리동           1
     회기동            1
     휘경동            1
동작구  신대방동           1
     흑석동            1
서대문구 신촌동            1
     홍은동            1
서초구  반포동            1
성동구  사근동            1
성북구  안암동5가          1
송파구  가락동            1
     풍납동            1
양천구  목동             1
     신정동            2
영등포구 대림동            3
     신길동            1
     여의도동           1
     영등포동4가         1
     영등포동7가         1
용산구  한남동            1
은평구  갈현동            1
     진관동            1
종로구  무악동            1
     연건동            1
     평동             2
중구   을지로6가          1
     저동2가           1
중랑구  망우동            1
     면목동            1
     신내동            1

In [ ]:
hospital.to_csv('/content/drive/MyDrive/Colab Notebooks/apart/hospital.csv')