In [ ]:
import warnings 
warnings.filterwarnings('ignore')

In [ ]:
path = '/content/drive/MyDrive/Colab Notebooks/apart'
path20 = '/content/drive/MyDrive/Colab Notebooks/apart/아파트(매매)__실거래가_2020.csv'
path21 = '/content/drive/MyDrive/Colab Notebooks/apart/아파트(매매)__실거래가_2021.csv'

In [ ]:
import pandas as pd

In [ ]:
df20 = pd.read_csv(path20,encoding='cp949')
df21 = pd.read_csv(path21,encoding='cp949')

In [ ]:
df20

                 시군구       번지     본번    부번  ...  층  건축년도          도로명     해제사유발생일
0      서울특별시 강남구 개포동    655-2  655.0   2.0  ...  4  1988      언주로 103         NaN
1      서울특별시 강남구 개포동    658-1  658.0   1.0  ...  4  1987        언주로 3         NaN
2      서울특별시 강남구 개포동    658-1  658.0   1.0  ...  4  1987        언주로 3         NaN
3      서울특별시 강남구 개포동    658-1  658.0   1.0  ...  5  1987        언주로 3         NaN
4      서울특별시 강남구 개포동    658-1  658.0   1.0  ...  2  1987        언주로 3         NaN
...              ...      ...    ...   ...  ... ..   ...          ...         ...
84221  서울특별시 중랑구 중화동   274-77  274.0  77.0  ...  2  2003   동일로144길 74         NaN
84222  서울특별시 중랑구 중화동       11   11.0   0.0  ...  6  2007  봉화산로27가길 23         NaN
84223  서울특별시 중랑구 중화동       11   11.0   0.0  ...  5  2007  봉화산로27가길 23         NaN
84224  서울특별시 중랑구 중화동  11월 07일   11.0   7.0  ...  5  2007  봉화산로27가길 19  20201027.0
84225  서울특별시 중랑구 중화동  11월 07일   11.0   7.0  ...  5  2007  봉화산로27가길 19         NaN

[84226 rows x 13 columns]

In [ ]:
df21

                 시군구      번지      본번    부번  ...   층  건축년도         도로명     해제사유발생일
0      서울특별시 강남구 개포동   655-2   655.0   2.0  ...   9  1988     언주로 103         NaN
1      서울특별시 강남구 개포동   658-1   658.0   1.0  ...   5  1987       언주로 3         NaN
2      서울특별시 강남구 개포동    1282  1282.0   0.0  ...  18  2020     개포로 264  20210526.0
3      서울특별시 강남구 개포동    1282  1282.0   0.0  ...   7  2020     개포로 264  20210526.0
4      서울특별시 강남구 개포동    1282  1282.0   0.0  ...   5  2020     개포로 264         NaN
...              ...     ...     ...   ...  ...  ..   ...         ...         ...
29918  서울특별시 중랑구 중화동     450   450.0   0.0  ...   6  1998     동일로 752         NaN
29919  서울특별시 중랑구 중화동     450   450.0   0.0  ...  13  1998     동일로 752         NaN
29920  서울특별시 중랑구 중화동  274-51   274.0  51.0  ...   5  2003  동일로144길 74         NaN
29921  서울특별시 중랑구 중화동  274-75   274.0  75.0  ...   4  2003  동일로144길 74         NaN
29922  서울특별시 중랑구 중화동  274-76   274.0  76.0  ...   2  2003  동일로144길 74         NaN

[29923 rows x 13 columns]

In [ ]:
df=df20.append(df21)

In [ ]:
df.tail()

                 시군구      번지     본번    부번  ...   층  건축년도         도로명  해제사유발생일
29918  서울특별시 중랑구 중화동     450  450.0   0.0  ...   6  1998     동일로 752      NaN
29919  서울특별시 중랑구 중화동     450  450.0   0.0  ...  13  1998     동일로 752      NaN
29920  서울특별시 중랑구 중화동  274-51  274.0  51.0  ...   5  2003  동일로144길 74      NaN
29921  서울특별시 중랑구 중화동  274-75  274.0  75.0  ...   4  2003  동일로144길 74      NaN
29922  서울특별시 중랑구 중화동  274-76  274.0  76.0  ...   2  2003  동일로144길 74      NaN

[5 rows x 13 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114149 entries, 0 to 29922
Data columns (total 13 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   시군구       114149 non-null  object
 1   번지        114115 non-null  object
 2   본번        114134 non-null  float64
 3   부번        114134 non-null  float64
 4   단지명       114149 non-null  object
 5   전용면적(㎡)   114149 non-null  float64
 6   계약년월      114149 non-null  int64
 7   계약일       114149 non-null  int64
 8   거래금액(만원)  114149 non-null  int64
 9   층         114149 non-null  int64
 10  건축년도      114149 non-null  int64
 11  도로명       114149 non-null  object
 12  해제사유발생일   3751 non-null    float64
dtypes: float64(4), int64(5), object(4)
memory usage: 12.2+ MB

In [ ]:
df['Gu']=df['시군구'].str.split(' ').str[1]
df['Dong']=df['시군구'].str.split(' ').str[2]

In [ ]:
df.head()

             시군구     번지     본번   부번  ...      도로명  해제사유발생일   Gu  Dong
0  서울특별시 강남구 개포동  655-2  655.0  2.0  ...  언주로 103      NaN  강남구   개포동
1  서울특별시 강남구 개포동  658-1  658.0  1.0  ...    언주로 3      NaN  강남구   개포동
2  서울특별시 강남구 개포동  658-1  658.0  1.0  ...    언주로 3      NaN  강남구   개포동
3  서울특별시 강남구 개포동  658-1  658.0  1.0  ...    언주로 3      NaN  강남구   개포동
4  서울특별시 강남구 개포동  658-1  658.0  1.0  ...    언주로 3      NaN  강남구   개포동

[5 rows x 15 columns]

In [ ]:
df.rename({'시군구':'si','번지':'Jibun','본번':'Bonbun','부번':'Bubun','단지명':'Apt','전용면적(㎡)':'Exclusive_area',
           '계약년월':'Transaction_year_month','계약일':'transaction_date','층':'Floor','건축년도':'Completion',
           '도로명':'St','해제사유발생일':'Cancle','거래금액(만원)':'Transaction_real_price'},axis=1,inplace=True)

In [ ]:
df.head()

              si  Jibun  Bonbun  Bubun  ...       St  Cancle   Gu  Dong
0  서울특별시 강남구 개포동  655-2   655.0    2.0  ...  언주로 103     NaN  강남구   개포동
1  서울특별시 강남구 개포동  658-1   658.0    1.0  ...    언주로 3     NaN  강남구   개포동
2  서울특별시 강남구 개포동  658-1   658.0    1.0  ...    언주로 3     NaN  강남구   개포동
3  서울특별시 강남구 개포동  658-1   658.0    1.0  ...    언주로 3     NaN  강남구   개포동
4  서울특별시 강남구 개포동  658-1   658.0    1.0  ...    언주로 3     NaN  강남구   개포동

[5 rows x 15 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114149 entries, 0 to 29922
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   si                      114149 non-null  object
 1   Jibun                   114115 non-null  object
 2   Bonbun                  114134 non-null  float64
 3   Bubun                   114134 non-null  float64
 4   Apt                     114149 non-null  object
 5   Exclusive_area          114149 non-null  float64
 6   Transaction_year_month  114149 non-null  int64
 7   transaction_date        114149 non-null  int64
 8   Transaction_real_price  114149 non-null  int64
 9   Floor                   114149 non-null  int64
 10  Completion              114149 non-null  int64
 11  St                      114149 non-null  object
 12  Cancle                  3751 non-null    float64
 13  Gu                      114149 non-null  object
 14  Dong                    114149 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 13.9+ MB

In [ ]:
df.columns

Index(['si', 'Jibun', 'Bonbun', 'Bubun', 'Apt', 'Exclusive_area',
       'Transaction_year_month', 'transaction_date', 'Transaction_real_price',
       'Floor', 'Completion', 'St', 'Cancle', 'Gu', 'Dong'],
      dtype='object')

In [ ]:
df3 = df[df['Bubun'].isnull()].fillna({'Jibun':413,'Bonbun':413,'Bubun':0})

In [ ]:
df3

                  si  Jibun  Bonbun  Bubun  ...           St  Cancle   Gu  Dong
54566  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
54567  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
54568  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
54569  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
54570  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
54571  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
54572  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
54573  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
54574  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
54575  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
54576  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
19293  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
19294  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
19295  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동
19296  서울특별시 서초구 신원동    413   413.0    0.0  ...  헌릉로8길 10-12     NaN  서초구   신원동

[15 rows x 15 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114149 entries, 0 to 29922
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   si                      114149 non-null  object
 1   Jibun                   114115 non-null  object
 2   Bonbun                  114134 non-null  float64
 3   Bubun                   114134 non-null  float64
 4   Apt                     114149 non-null  object
 5   Exclusive_area          114149 non-null  float64
 6   Transaction_year_month  114149 non-null  int64
 7   transaction_date        114149 non-null  int64
 8   Transaction_real_price  114149 non-null  int64
 9   Floor                   114149 non-null  int64
 10  Completion              114149 non-null  int64
 11  St                      114149 non-null  object
 12  Cancle                  3751 non-null    float64
 13  Gu                      114149 non-null  object
 14  Dong                    114149 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 13.9+ MB

In [ ]:
df1=df[(df['Jibun'].isnull()) & (df.Apt == '서초포레스타2단지')].fillna({'Jibun':143,'Bonbun':143,'Bubun':0})

In [ ]:
df1.Bonbun = 143

In [ ]:
df1

                  si  Jibun  Bonbun  Bubun  ...        St      Cancle   Gu  Dong
52297  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
52298  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
52299  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
52300  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
52301  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45  20200731.0  서초구   내곡동
52302  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
52303  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
52304  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
52305  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
52306  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
52307  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
52308  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
18229  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45  20210412.0  서초구   내곡동
18230  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
18231  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
18232  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
18233  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
18234  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동
18235  서울특별시 서초구 내곡동    143     143    0.0  ...  헌릉로8길 45         NaN  서초구   내곡동

[19 rows x 15 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114149 entries, 0 to 29922
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   si                      114149 non-null  object
 1   Jibun                   114115 non-null  object
 2   Bonbun                  114134 non-null  float64
 3   Bubun                   114134 non-null  float64
 4   Apt                     114149 non-null  object
 5   Exclusive_area          114149 non-null  float64
 6   Transaction_year_month  114149 non-null  int64
 7   transaction_date        114149 non-null  int64
 8   Transaction_real_price  114149 non-null  int64
 9   Floor                   114149 non-null  int64
 10  Completion              114149 non-null  int64
 11  St                      114149 non-null  object
 12  Cancle                  3751 non-null    float64
 13  Gu                      114149 non-null  object
 14  Dong                    114149 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 13.9+ MB

In [ ]:
df.dropna(subset=['Jibun','Bonbun','Bubun'],inplace=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114115 entries, 0 to 29922
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   si                      114115 non-null  object
 1   Jibun                   114115 non-null  object
 2   Bonbun                  114115 non-null  float64
 3   Bubun                   114115 non-null  float64
 4   Apt                     114115 non-null  object
 5   Exclusive_area          114115 non-null  float64
 6   Transaction_year_month  114115 non-null  int64
 7   transaction_date        114115 non-null  int64
 8   Transaction_real_price  114115 non-null  int64
 9   Floor                   114115 non-null  int64
 10  Completion              114115 non-null  int64
 11  St                      114115 non-null  object
 12  Cancle                  3749 non-null    float64
 13  Gu                      114115 non-null  object
 14  Dong                    114115 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 13.9+ MB

In [ ]:
df = df.append(df1)

In [ ]:
df = df.append(df3)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114149 entries, 0 to 19296
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   si                      114149 non-null  object
 1   Jibun                   114149 non-null  object
 2   Bonbun                  114149 non-null  float64
 3   Bubun                   114149 non-null  float64
 4   Apt                     114149 non-null  object
 5   Exclusive_area          114149 non-null  float64
 6   Transaction_year_month  114149 non-null  int64
 7   transaction_date        114149 non-null  int64
 8   Transaction_real_price  114149 non-null  int64
 9   Floor                   114149 non-null  int64
 10  Completion              114149 non-null  int64
 11  St                      114149 non-null  object
 12  Cancle                  3751 non-null    float64
 13  Gu                      114149 non-null  object
 14  Dong                    114149 non-null  object
dtypes: float64(4), int64(5), object(6)
memory usage: 13.9+ MB

In [ ]:
df = df.astype({'Bonbun':int, 'Bubun':int})

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114149 entries, 0 to 19296
Data columns (total 15 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   si                      114149 non-null  object
 1   Jibun                   114149 non-null  object
 2   Bonbun                  114149 non-null  int64
 3   Bubun                   114149 non-null  int64
 4   Apt                     114149 non-null  object
 5   Exclusive_area          114149 non-null  float64
 6   Transaction_year_month  114149 non-null  int64
 7   transaction_date        114149 non-null  int64
 8   Transaction_real_price  114149 non-null  int64
 9   Floor                   114149 non-null  int64
 10  Completion              114149 non-null  int64
 11  St                      114149 non-null  object
 12  Cancle                  3751 non-null    float64
 13  Gu                      114149 non-null  object
 14  Dong                    114149 non-null  object
dtypes: float64(2), int64(7), object(6)
memory usage: 13.9+ MB

In [ ]:
df['Year'] = df['Transaction_year_month'].astype(str).str[:4].astype(int)-df['Completion']

In [ ]:
df.head()

              si  Jibun  Bonbun  Bubun  ... Cancle   Gu  Dong  Year
0  서울특별시 강남구 개포동  655-2     655      2  ...    NaN  강남구   개포동    32
1  서울특별시 강남구 개포동  658-1     658      1  ...    NaN  강남구   개포동    33
2  서울특별시 강남구 개포동  658-1     658      1  ...    NaN  강남구   개포동    33
3  서울특별시 강남구 개포동  658-1     658      1  ...    NaN  강남구   개포동    33
4  서울특별시 강남구 개포동  658-1     658      1  ...    NaN  강남구   개포동    33

[5 rows x 16 columns]

In [ ]:
df['Apt'].isnull().sum()

0

In [ ]:
top10 = ['자이', '푸르지오', '더샵', '롯데캐슬', '이편한|e편한|e-편한',
         '힐스테이트', '아이파크', '래미안', 'sk|SK|에스케이', '데시앙']
df['top10']=0
for brand in top10:
    df.loc[df['Apt'].str.contains(brand),'top10'] = 1

In [ ]:
df.head(1)

              si  Jibun  Bonbun  Bubun  ...   Gu  Dong  Year  top10
0  서울특별시 강남구 개포동  655-2     655      2  ...  강남구   개포동    32      0

[1 rows x 17 columns]

In [ ]:
df['top10'].value_counts()

0    93597
1    20552
Name: top10, dtype: int64

In [ ]:
df['Floor']=df['Floor']+3

In [ ]:
df['Apt'].value_counts()[:20]

현대            1069
두산             863
한신             856
벽산             683
삼성래미안          648
신동아            631
주공2            625
에스케이북한산시티      517
대우             503
삼성             501
우성             433
극동             428
신동아아파트1        374
동아             354
중계그린1단지        351
주공5            350
파크리오           348
쌍용             331
엘에이치강남아이파크     329
관악산벽산타운5       325
Name: Apt, dtype: int64

In [ ]:
df['YN_r'] = 0
df['temp'] = df['Dong'].str.replace(pat=r'[동]', repl=r'', regex=True)

In [ ]:
dong_list = list(df['temp'].unique())

In [ ]:
for i in dong_list:
     df.loc[df['Apt'].str.contains(i), 'YN_r'] = 1

In [ ]:
apt_names=['현대','두산','한신','벽산','삼성래미안','신동아','주공2','에스케이북한산시티','대우','삼성',
           '우성','극동','신동아아파트1','동아','중계그린1단지','주공5','파크리오','쌍용','엘에이치강남아이파크','관악산벽산타운5' ]

apt_names_list = top10 + apt_names

df['transformed'] = False

for a in apt_names_list:
    df.loc[df['Apt'].str.contains(a), 'Apt'] = a
    df.loc[df['Apt'].str.contains(a), 'transformed'] = True

for a in apt_names:
    df.loc[~df['transformed'], 'Apt'] = 'others'

In [ ]:
df.Apt.value_counts()

others          64973
현대               7860
래미안              5639
동아               3468
힐스테이트            2709
우성               2666
푸르지오             2638
한신               2573
두산               2441
벽산               2226
삼성               2102
이편한|e편한|e-편한     1956
자이               1945
아이파크             1880
롯데캐슬             1806
대우               1200
sk|SK|에스케이       1154
쌍용               1101
극동                972
주공2               861
더샵                497
주공5               455
중계그린1단지           351
파크리오              348
데시앙               328
Name: Apt, dtype: int64

In [ ]:
df.Apt.nunique()

25

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114149 entries, 0 to 19296
Data columns (total 20 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   si                      114149 non-null  object
 1   Jibun                   114149 non-null  object
 2   Bonbun                  114149 non-null  int64
 3   Bubun                   114149 non-null  int64
 4   Apt                     114149 non-null  object
 5   Exclusive_area          114149 non-null  float64
 6   Transaction_year_month  114149 non-null  int64
 7   transaction_date        114149 non-null  int64
 8   Transaction_real_price  114149 non-null  int64
 9   Floor                   114149 non-null  int64
 10  Completion              114149 non-null  int64
 11  St                      114149 non-null  object
 12  Cancle                  3751 non-null    float64
 13  Gu                      114149 non-null  object
 14  Dong                    114149 non-null  object
 15  Year                    114149 non-null  int64
 16  top10                   114149 non-null  int64
 17  YN_r                    114149 non-null  int64
 18  temp                    114149 non-null  object
 19  transformed             114149 non-null  bool
dtypes: bool(1), float64(2), int64(10), object(7)
memory usage: 17.5+ MB

In [ ]:
df.drop('Cancle',axis=1,inplace=True)

In [ ]:
hos = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/apart/hospital.csv')
df = pd.merge(df,hos,on=['Gu','Dong'],how='left')

In [ ]:
df.columns

Index(['si', 'Jibun', 'Bonbun', 'Bubun', 'Apt', 'Exclusive_area',
       'Transaction_year_month', 'transaction_date', 'Transaction_real_price',
       'Floor', 'Completion', 'St', 'Gu', 'Dong', 'Year', 'top10', 'YN_r',
       'temp', 'transformed', 'Hospital'],
      dtype='object')

In [ ]:
df.head()

              si  Jibun  Bonbun  Bubun  ... YN_r  temp  transformed  Hospital
0  서울특별시 강남구 개포동  655-2     655      2  ...    1    개포         True       NaN
1  서울특별시 강남구 개포동  658-1     658      1  ...    1    개포         True       NaN
2  서울특별시 강남구 개포동  658-1     658      1  ...    1    개포         True       NaN
3  서울특별시 강남구 개포동  658-1     658      1  ...    1    개포         True       NaN
4  서울특별시 강남구 개포동  658-1     658      1  ...    1    개포         True       NaN

[5 rows x 20 columns]

In [ ]:
df.transformed.value_counts()

False    64973
True     49176
Name: transformed, dtype: int64

In [ ]:
df.drop(['si','transformed'],axis=1,inplace=True)

In [ ]:
df.columns

Index(['Jibun', 'Bonbun', 'Bubun', 'Apt', 'Exclusive_area',
       'Transaction_year_month', 'transaction_date', 'Transaction_real_price',
       'Floor', 'Completion', 'St', 'Gu', 'Dong', 'Year', 'top10', 'YN_r',
       'temp', 'Hospital'],
      dtype='object')

In [ ]:
df = df[['Gu','Dong','Jibun','Bonbun','Apt', 'Exclusive_area',
    'Transaction_year_month', 'transaction_date','Floor',
    'Completion','Year', 'top10','YN_r','Hospital','Transaction_real_price' ]]

In [ ]:
squar = pd.read_csv(path+'/구별 면적금액.csv')

In [ ]:
squar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   구          25 non-null     object
 1   평균 면적당 금액  25 non-null     float64
dtypes: float64(1), object(1)
memory usage: 528.0+ bytes

In [104]:
squar['price per squar']= squar['평균 면적당 금액']

KeyError: ignored

In [ ]:
squar.head()

     구    평균 면적당 금액  price per squar
0  중랑구   809.799405      2672.338035
1  중구   1181.666804      3899.500453
2  종로구  1075.343218      3548.632619
3  은평구   867.911723      2864.108687
4  용산구  1669.072089      5507.937894

In [105]:
squar.drop('평균 면적당 금액',axis = 1,inplace=True)
squar.columns=['gu','Price per squar']
squar.head()

KeyError: ignored

In [ ]:
squar.iloc[:,0].astype(str).str.strip()
squar.iloc[1,0]='중구'

In [ ]:
squar.iloc[24,0] == df.iloc[0,0]

True

In [ ]:
price_df = pd.merge(df,squar,on='Gu',how='left')

In [ ]:
price_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114149 entries, 0 to 114148
Data columns (total 16 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Gu                      114149 non-null  object
 1   Dong                    114149 non-null  object
 2   Jibun                   114149 non-null  object
 3   Bonbun                  114149 non-null  int64
 4   Apt                     114149 non-null  object
 5   Exclusive_area          114149 non-null  float64
 6   Transaction_year_month  114149 non-null  int64
 7   transaction_date        114149 non-null  int64
 8   Floor                   114149 non-null  int64
 9   Completion              114149 non-null  int64
 10  Year                    114149 non-null  int64
 11  top10                   114149 non-null  int64
 12  YN_r                    114149 non-null  int64
 13  Hospital                37066 non-null   float64
 14  Transaction_real_price  114149 non-null  int64
 15  Price per squar         114149 non-null  float64
dtypes: float64(3), int64(9), object(4)
memory usage: 14.8+ MB

In [ ]:
price_df.to_csv(path+'/price_1.csv',index=False)

In [ ]:
price_df[price_df['Year']<0]

         Gu Dong Jibun  ...  Hospital Transaction_real_price  Price per squar
6177    강동구  상일동   521  ...       1.0                 159000      4063.473721
43638  동대문구  휘경동   375  ...       1.0                  87000      3415.268079
69798   양천구  신정동  1326  ...       2.0                 135000      3981.104421
73074  영등포구  신길동  4964  ...       1.0                  92600      4063.600609
73075  영등포구  신길동  4964  ...       1.0                 109500      4063.600609
73076  영등포구  신길동  4964  ...       1.0                 104800      4063.600609

[6 rows x 16 columns]

In [ ]:
price_df[price_df['Year']<0] = 0

In [ ]:
df3 = pd.read_csv(path + '/subway_count.csv')

In [ ]:
df3.head()

  Unnamed: 0  Dong
0        가락동     5
1        방배동     5
2        상계동     5
3        신당동     4
4        화곡동     3

In [ ]:
df3.columns=['Dong','Station']

In [ ]:
df3.head()

  Dong  Station
0  가락동        5
1  방배동        5
2  상계동        5
3  신당동        4
4  화곡동        3

In [ ]:
price_df = pd.merge(price_df,df3,on='Dong',how = 'left')

In [ ]:
price_df.Station.fillna(0,inplace=True)
price_df.Station = price_df.Station.astype(int)

In [ ]:
price_df.tail()

         Gu Dong Jibun  ...  Transaction_real_price Price per squar  Station
114144  서초구  신원동   413  ...                  158000     6579.873036        0
114145  서초구  신원동   413  ...                  163000     6579.873036        0
114146  서초구  신원동   413  ...                  187500     6579.873036        0
114147  서초구  신원동   413  ...                  184500     6579.873036        0
114148  서초구  신원동   413  ...                  165000     6579.873036        0

[5 rows x 17 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()

In [ ]:
price_df[price_df['Gu']==0]

      Gu Dong Jibun  ...  Transaction_real_price Price per squar  Station
6177   0    0     0  ...                       0             0.0        0
43638  0    0     0  ...                       0             0.0        0
69798  0    0     0  ...                       0             0.0        0
73074  0    0     0  ...                       0             0.0        0
73075  0    0     0  ...                       0             0.0        0
73076  0    0     0  ...                       0             0.0        0

[6 rows x 17 columns]

In [ ]:
price_df=price_df.drop(price_df[price_df['Gu']==0].index)

In [ ]:
label.fit(price_df.Gu)

LabelEncoder()

In [ ]:
price_df['Gu_Label'] = label.transform(price_df.Gu)

In [ ]:
price_df.head()

    Gu Dong  Jibun  ...  Price per squar Station  Gu_Label
0  강남구  개포동  655-2  ...      7003.020394       1         0
1  강남구  개포동  658-1  ...      7003.020394       1         0
2  강남구  개포동  658-1  ...      7003.020394       1         0
3  강남구  개포동  658-1  ...      7003.020394       1         0
4  강남구  개포동  658-1  ...      7003.020394       1         0

[5 rows x 18 columns]

In [ ]:
price_df.head()

    Gu Dong  Jibun  ...  Price per squar Station  Gu_Label
0  강남구  개포동  655-2  ...      7003.020394       1         0
1  강남구  개포동  658-1  ...      7003.020394       1         0
2  강남구  개포동  658-1  ...      7003.020394       1         0
3  강남구  개포동  658-1  ...      7003.020394       1         0
4  강남구  개포동  658-1  ...      7003.020394       1         0

[5 rows x 18 columns]

In [ ]:
label_dong = LabelEncoder()

In [ ]:
label_dong.fit(price_df.Dong)

LabelEncoder()

In [ ]:
price_df['Dong_Label'] = label_dong.transform(price_df.Dong)

In [ ]:
price_df.head()

    Gu Dong  Jibun  Bonbun  ... Price per squar  Station  Gu_Label  Dong_Label
0  강남구  개포동  655-2     655  ...     7003.020394        1         0           8
1  강남구  개포동  658-1     658  ...     7003.020394        1         0           8
2  강남구  개포동  658-1     658  ...     7003.020394        1         0           8
3  강남구  개포동  658-1     658  ...     7003.020394        1         0           8
4  강남구  개포동  658-1     658  ...     7003.020394        1         0           8

[5 rows x 19 columns]

In [ ]:
data = price_df.drop(['Gu','Dong','Jibun','Apt','Transaction_year_month','transaction_date','Completion'],axis=1)

In [ ]:
data=data[['Gu_Label','Dong_Label','Year','Exclusive_area','Floor','Price per squar','top10','YN_r','Hospital','Station','Transaction_real_price']]

In [ ]:
data.head()

   Gu_Label  Dong_Label  Year  ...  Hospital  Station  Transaction_real_price
0         0           8    32  ...       NaN        1                  149500
1         0           8    33  ...       NaN        1                  144000
2         0           8    33  ...       NaN        1                  162750
3         0           8    33  ...       NaN        1                  160000
4         0           8    33  ...       NaN        1                  150000

[5 rows x 11 columns]

In [ ]:
data.Hospital.fillna(0,inplace=True)

In [ ]:
data.Hospital.value_counts()

0.0    77083
1.0    34507
2.0     2014
3.0      539
Name: Hospital, dtype: int64

In [ ]:
for i in range(len(data.Hospital)):
    if data.Hospital.iloc[i] == 0:
        data.Hospital.iloc[i] = 0
    else:
        data.Hospital.iloc[i] = 1

In [ ]:
data.to_csv(path+'/dataset.csv',index=False)

In [ ]:
data.Hospital.value_counts()

0.0    77083
1.0    37060
Name: Hospital, dtype: int64

In [91]:
df_new = pd.read_csv(path + '/seoul_3.csv')
df_new

         gu dong  used_y  square  ...    cost  gu_l  dong_l  s_c
0       강남구  개포동      32   77.75  ...  149500     0       8    1
1       강남구  개포동      33   54.98  ...  144000     0       8    1
2       강남구  개포동      33   79.97  ...  162750     0       8    1
3       강남구  개포동      33   79.97  ...  160000     0       8    1
4       강남구  개포동      33   79.97  ...  150000     0       8    1
...     ...  ...     ...     ...  ...     ...   ...     ...  ...
114137  중랑구  중화동      23   59.76  ...   66000    24     266    1
114138  중랑구  중화동      23   59.76  ...   68000    24     266    1
114139  중랑구  중화동      18   57.66  ...   30500    24     266    1
114140  중랑구  중화동      18   72.22  ...   49500    24     266    1
114141  중랑구  중화동      18   58.46  ...   30000    24     266    1

[114142 rows x 13 columns]

In [93]:
hos.head()

    Gu Dong  Hospital
0  강남구  도곡동         1
1  강남구  역삼동         1
2  강남구  일원동         1
3  강동구   길동         1
4  강동구  둔촌동         1

In [95]:
hos.columns=['gu','dong','Hospital']

In [98]:
df_hos=pd.merge(df_new,hos,on=['gu','dong'],how='left')

In [99]:
df_hos.Hospital.fillna(0,inplace=True)

In [101]:
df_hos.Hospital.value_counts()

0.0    77082
1.0    34507
2.0     2014
3.0      539
Name: Hospital, dtype: int64

In [102]:
for i in range(len(df_hos.Hospital)):
    if df_hos.Hospital.iloc[i] == 0:
        df_hos.Hospital.iloc[i] = 0
    else:
        df_hos.Hospital.iloc[i] = 1

In [103]:
df_hos.Hospital.value_counts()

0.0    77082
1.0    37060
Name: Hospital, dtype: int64

In [106]:
squar.columns=['gu','Price per squar']

In [110]:
squar['Price per squar']=squar['Price per squar']/3.3

In [113]:
df_area=pd.merge(df_hos,squar,on='gu',how='left')

In [114]:
df_area.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114142 entries, 0 to 114141
Data columns (total 15 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   gu               114142 non-null  object
 1   dong             114142 non-null  object
 2   used_y           114142 non-null  int64
 3   square           114142 non-null  float64
 4   per_cost_man     114142 non-null  float64
 5   floor            114142 non-null  int64
 6   top10            114142 non-null  int64
 7   YN_r             114142 non-null  int64
 8   YN_top10         114142 non-null  int64
 9   cost             114142 non-null  int64
 10  gu_l             114142 non-null  int64
 11  dong_l           114142 non-null  int64
 12  s_c              114142 non-null  int64
 13  Hospital         114142 non-null  float64
 14  Price per squar  114142 non-null  float64
dtypes: float64(4), int64(9), object(2)
memory usage: 13.9+ MB

In [115]:
df_area.to_csv(path+'/seoul_3_1.csv')