In [1]:
import pandas as pd

In [2]:
data1=pd.read_csv('C:/Users/SEC/OneDrive/바탕 화면/air/AIR_HOUR_202001.csv')
data2=pd.read_csv('C:/Users/SEC/OneDrive/바탕 화면/air/AIR_HOUR_202002.csv')
data3=pd.read_csv('C:/Users/SEC/OneDrive/바탕 화면/air/AIR_HOUR_202003.csv')
data4=pd.read_csv('C:/Users/SEC/OneDrive/바탕 화면/air/AIR_HOUR_202004.csv')
data5=pd.read_csv('C:/Users/SEC/OneDrive/바탕 화면/air/AIR_HOUR_202005.csv')
data6=pd.read_csv('C:/Users/SEC/OneDrive/바탕 화면/air/AIR_HOUR_202006.csv')
data7=pd.read_csv('C:/Users/SEC/OneDrive/바탕 화면/air/AIR_HOUR_202007.csv')
data8=pd.read_csv('C:/Users/SEC/OneDrive/바탕 화면/air/AIR_HOUR_202008.csv')
data9=pd.read_csv('C:/Users/SEC/OneDrive/바탕 화면/air/AIR_HOUR_202009.csv')
data10=pd.read_csv('C:/Users/SEC/OneDrive/바탕 화면/air/AIR_HOUR_202010.csv')
data11=pd.read_csv('C:/Users/SEC/OneDrive/바탕 화면/air/AIR_HOUR_202011.csv')
data12=pd.read_csv('C:/Users/SEC/OneDrive/바탕 화면/air/AIR_HOUR_202012.csv')

In [3]:
data=data1.append(data2)

In [4]:
data=data.append(data3)

In [5]:
data=data.append(data4)

In [6]:
data=data.append(data5)

In [7]:
data=data.append(data6)

In [8]:
data=data.append(data7)

In [9]:
data=data.append(data8)

In [10]:
data=data.append(data9)

In [11]:
data=data.append(data10)

In [12]:
data=data.append(data11)

In [13]:
data=data.append(data12)

In [14]:
data.head()

,�����Ͻ�,������ �ڵ�,�����׸� �ڵ�,��հ�,������ ����,���� �����ʰ� ����,����ü �����ʰ� ����,�����Ͻ�.1
0,20200131230000,117,1,0.005,0,0,0,20200131235849
1,20200131230000,104,9,35.000,0,0,0,20200201000015
2,20200131230000,104,8,47.000,0,0,0,20200201000015
3,20200131230000,101,3,0.048,0,0,0,20200201000015
4,20200131230000,101,1,0.003,0,0,0,20200201000015

In [15]:
data.drop(data.columns[4:],axis=1, inplace=True)

In [16]:
data.columns=['Measurement date','Station code','Item code','Average value']

In [17]:
data.tail()

        Measurement date  Station code  Item code  Average value
111595    20201201000000           124          3          0.046
111596    20201201000000           105          9         15.000
111597    20201201000000           119          1          0.004
111598    20201201000000           107          9         22.000
111599    20201201000000           103          1          0.003

In [27]:
data.head()

   Measurement date  Station code  Item code  Average value
0    20200131230000           117          1          0.005
1    20200131230000           104          9         35.000
2    20200131230000           104          8         47.000
3    20200131230000           101          3          0.048
4    20200131230000           101          1          0.003

In [20]:
type(data)

pandas.core.frame.DataFrame

In [18]:
data1=data[data['Item code']==1]
data3=data[data['Item code']==3]
data5=data[data['Item code']==5]
data6=data[data['Item code']==6]
data8=data[data['Item code']==8]
data9=data[data['Item code']==9]

In [19]:
data1.drop('Item code',axis=1,inplace=True)
data3.drop('Item code',axis=1,inplace=True)
data5.drop('Item code',axis=1,inplace=True)
data6.drop('Item code',axis=1,inplace=True)
data8.drop('Item code',axis=1,inplace=True)
data9.drop('Item code',axis=1,inplace=True)

C:\Users\SEC\anaconda3\envs\multi\lib\site-packages\pandas\core\frame.py:4315: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [20]:
data5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218948 entries, 5 to 111593
Data columns (total 3 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Measurement date  218948 non-null  int64
 1   Station code      218948 non-null  int64
 2   Average value     218948 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 6.7 MB

In [21]:
merged1=pd.merge(data1,data3,on=['Measurement date','Station code'])

In [22]:
merged1.columns=['Measurement date', 'Station code', 'SO2','NO2']

In [23]:
merged1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218948 entries, 0 to 218947
Data columns (total 4 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Measurement date  218948 non-null  int64
 1   Station code      218948 non-null  int64
 2   SO2               218948 non-null  float64
 3   NO2               218948 non-null  float64
dtypes: float64(2), int64(2)
memory usage: 8.4 MB

In [24]:
merged2=pd.merge(merged1,data5,on=['Measurement date','Station code'])

In [25]:
merged2.head()

   Measurement date  Station code    SO2    NO2  Average value
0    20200131230000           117  0.005  0.036            0.5
1    20200131230000           101  0.003  0.048            0.7
2    20200131230000           111  0.003  0.051            1.0
3    20200131230000           112  0.002  0.039            0.6
4    20200131230000           121  0.004  0.049            0.7

In [26]:
merged2.columns=['Measurement date', 'Station code', 'SO2','NO2','CO']

In [27]:
merged3=pd.merge(merged2,data6,on=['Measurement date','Station code'])

In [28]:
merged3.columns=['Measurement date', 'Station code', 'SO2','NO2','CO','O3']

In [29]:
merged3.head()

   Measurement date  Station code    SO2    NO2   CO     O3
0    20200131230000           117  0.005  0.036  0.5  0.020
1    20200131230000           101  0.003  0.048  0.7  0.007
2    20200131230000           111  0.003  0.051  1.0  0.008
3    20200131230000           112  0.002  0.039  0.6  0.014
4    20200131230000           121  0.004  0.049  0.7  0.012

In [30]:
merged4=pd.merge(merged3,data8,on=['Measurement date','Station code'])

In [31]:
merged4.columns=['Measurement date', 'Station code', 'SO2','NO2','CO','O3','PM10']

In [32]:
merged4.head()

   Measurement date  Station code    SO2    NO2   CO     O3  PM10
0    20200131230000           117  0.005  0.036  0.5  0.020  44.0
1    20200131230000           101  0.003  0.048  0.7  0.007  48.0
2    20200131230000           111  0.003  0.051  1.0  0.008  49.0
3    20200131230000           112  0.002  0.039  0.6  0.014  52.0
4    20200131230000           121  0.004  0.049  0.7  0.012  50.0

In [33]:
merged5=pd.merge(merged4,data9,on=['Measurement date','Station code'])

In [34]:
merged5.columns=['Measurement date', 'Station code', 'SO2','NO2','CO','O3','PM10','PM2.5']

In [35]:
merged5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 218948 entries, 0 to 218947
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Measurement date  218948 non-null  int64
 1   Station code      218948 non-null  int64
 2   SO2               218948 non-null  float64
 3   NO2               218948 non-null  float64
 4   CO                218948 non-null  float64
 5   O3                218948 non-null  float64
 6   PM10              218948 non-null  float64
 7   PM2.5             218948 non-null  float64
dtypes: float64(6), int64(2)
memory usage: 15.0 MB

In [36]:
merged5.to_csv('seoul_Air_2020.csv')

In [40]:
data=merged5

In [42]:
data.drop('temp',axis=1,inplace=True)

In [44]:
df=pd.DataFrame({'Measurement date':data['Measurement date'],
                'Station code':data['Station code'],
                'SO2':data['SO2'],
                'NO2':data['NO2'],
                'O3':data['O3'],
                'CO':data['CO'],
                'PM10':data['PM10'],
                'PM2.5':data['PM2.5']})

In [48]:
df.to_csv('seoul_air_2020_re.csv',index=False)