In [1]:
from selenium.webdriver.common.keys import Keys 
from selenium import webdriver as wd
from bs4 import BeautifulSoup as bs 
from datetime import datetime, timedelta 
import time 
import pandas as pd 
import re 
import zipfile 
import os 
import requests 
from tqdm import tqdm

In [2]:
webdriver_path = os.getcwd()+'.//webdriver//chromedriver.exe'

In [4]:
url_base = 'https://www.koreabaseball.com/Record/Player/{category}' 
category_list = ['HitterBasic/Basic1.aspx', 'PitcherBasic/Basic1.aspx', 'Defense/Basic.aspx', 'Runner/Basic.aspx'] 
driver = wd.Chrome(executable_path='.\\webdriver\\chromedriver.exe')
driver.implicitly_wait(3)

<ipython-input-4-09dbd55a7047>:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = wd.Chrome(executable_path='.\\webdriver\\chromedriver.exe')

In [5]:
driver.get('https://www.koreabaseball.com/Record/Player/Defense/Basic.aspx')

In [13]:
driver.get('https://www.koreabaseball.com/Record/Player/HitterBasic/Basic1.aspx?sort=HRA_RT')

In [14]:
driver.close()

In [21]:
from selenium import webdriver 
import time 
import pandas as pd 

url_base = 'https://www.koreabaseball.com/Record/Player/{category}' 
category_list = ['HitterBasic/Basic1.aspx', 'PitcherBasic/Basic1.aspx', 'Defense/Basic.aspx', 'Runner/Basic.aspx'] 
driver = webdriver.Chrome(webdriver_path) 
driver.implicitly_wait(3) 

from tqdm import tqdm 
baseball_data = [] 

for category in category_list: 
    url = url_base.format(category = category) 
    driver.get(url) 
    driver.maximize_window() 
    year_list = [x.strip() for x in driver.find_element_by_class_name('select03').text.split('\n') if len(x) >1 ] 
    category_data_list = [] 
    for year in tqdm(year_list[:3]): 
        driver.find_element_by_class_name('select03').click() 
        xpath_format = '//option[@value="{year}"]' 
        driver.find_element_by_xpath(xpath_format.format(year = year)).click() 
        time.sleep(0.1) 
        temp_list = [x.split(' ') for x in driver.find_element_by_tag_name('table').text.split('\n')] 
        temp_data = pd.DataFrame(columns = temp_list[0]) 
        for i,temp in enumerate(temp_list[1:]): 
            try: 
                temp_data.loc[i] = temp 
                time.sleep(0.5) 
            except: 
                ip_index = temp_list[0].index('IP') 
                ip = temp[ip_index] 
                del temp[13] 
                temp[13] = ip+' '+temp[13] 
                
                temp_data.loc[i] = temp 
                time.sleep(0.5) 
                
        temp_data['Year'] = year 
        category_data_list.append(temp_data) 
        time.sleep(0.1) 
        time.sleep(1) 
    category_data = pd.concat(category_data_list) 
    baseball_data.append(category_data)

<ipython-input-21-bd78ff6b9f1a>:7: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(webdriver_path)
C:\Users\SEC\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:630: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")
  0%|                                                                                            | 0/3 [00:00<?, ?it/s]C:\Users\SEC\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:430: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")
C:\Users\SEC\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:590: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")
100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:30<00:00, 10.25s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:13<00:00,  4.56s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:52<00:00, 17.67s/it]
100%|████████████████████████████████████████████████████████████████████████████████████| 3/3 [00:52<00:00, 17.56s/it]

In [22]:
baseball_data

[    순위  선수명   팀명    AVG  G  PA  AB   H 2B 3B HR RBI SB CS BB HBP SO GDP  E  \
 0    1  윤동균   OB  0.407  6  30  27  11  3  0  0   1  0  1  3   0  2   0  0
 1    2  김유동   OB  0.400  6  28  25  10  0  0  3  12  0  1  2   0  3   0  0
 2    3  함학수   삼성  0.333  6  26  21   7  2  0  1   4  0  1  3   1  2   0  2
 3    4  정현발   삼성  0.300  6  23  20   6  0  1  1   2  0  0  3   0  2   0  0
 4    5  배대웅   삼성  0.280  6  28  25   7  3  1  0   3  1  0  0   1  1   0  0
 5    6  이만수   삼성  0.273  6  25  22   6  1  1  0   5  0  0  2   0  2   1  0
 6    7  김우열   OB  0.250  6  30  28   7  0  0  2   6  0  0  2   0  1   0  0
 7    8  구천서   OB  0.238  6  27  21   5  1  0  0   1  1  2  5   0  5   2  3
 8    8  이홍범   OB  0.238  6  23  21   5  1  0  0   0  0  0  1   0  2   1  0
 9   10  오대석   삼성  0.231  6  28  26   6  1  0  1   4  0  1  2   0  2   0  1
 10  11  유지훤   OB  0.208  6  25  24   5  1  0  0   1  1  0  0   0  3   0  4
 11  12  신경식   OB  0.190  6  29  21   4  3  0  0   3  0  0  6   1  0   0  1
 12  12  장태수   삼성  0.190  6  32  21   4  0  0  1   2  2  2  9   1  2   0  0
 13  14  김광수   OB  0.130  6  27  23   3  0  0  0   0  0  1  1   2  1   0  0
 14  15  김한근   삼성  0.091  6  23  22   2  0  0  0   2  1  0  1   0  4   0  2
 15  16  허규옥   삼성  0.071  5  19  14   1  0  0  0   1  1  1  3   1  2   0  0
 0    1  김봉연   해태  0.474  5  24  19   9  3  0  1   8  0  0  2   1  2   0  0
 1    2  김일환   해태  0.438  5  20  16   7  0  0  0   2  0  1  1   1  2   0  0
 2    3  송영운  MBC  0.400  5  20  15   6  1  0  0   0  0  0  4   0  1   1  0
 3    4  김일권   해태  0.360  5  25  25   9  2  1  0   2  3  0  0   0  2   0  0
 4    5  김종모   해태  0.333  5  24  18   6  2  1  0   7  0  0  4   0  1   1  0
 5    5  김종윤   해태  0.333  5  16  15   5  3  1  0   2  0  0  1   0  1   0  0
 6    7  김성한   해태  0.300  5  24  20   6  2  0  0   2  0  0  4   0  5   1  0
 7    7  서정환   해태  0.300  5  22  20   6  1  0  0   0  2  1  1   1  4   0  2
 8    9  김인식  MBC  0.273  5  24  22   6  0  0  1   2  1  1  1   1  0   0  1
 9    9  이광은  MBC  0.273  5  22  22   6  1  0  0   0  0  0  0   0  3   2  2
 10  11  이종도  MBC  0.267  4  18  15   4  0  0  0   3  0  0  3   0  2   1  0
 11  12  김재박  MBC  0.238  5  23  21   5  1  0  0   2  1  0  1   0  0   0  0
 12  13  김무종   해태  0.208  5  24  24   5  1  0  0   2  1  0  0   0  3   2  0
 13  14  이해창  MBC  0.200  5  23  20   4  0  1  0   1  1  0  3   0  5   0  0
 14  15  김정수  MBC  0.167  5  19  18   3  1  1  0   2  0  0  1   0  3   1  0
 15  15  차영화   해태  0.167  5  21  18   3  0  0  0   1  1  1  3   0  0   1  0
 16  17  김용운  MBC  0.125  5  18  16   2  0  0  0   1  0  0  2   0  0   0  1
 17  17  신언호  MBC  0.125  5  16  16   2  0  0  0   0  0  0  0   0  2   1  0
 0    1  장효조   삼성  0.458  7  27  24  11  0  0  1   4  7  1  2   0  3   0  0
 1    2  함학수   삼성  0.364  7  24  22   8  2  1  0   3  2  1  0   1  2   0  0
 2    3  김재상   롯데  0.350  7  21  20   7  1  0  0   2  1  3  1   0  3   0  0
 3    4  김용희   롯데  0.321  7  29  28   9  3  0  0   3  0  2  0   1  3   0  1
 4    5  이만수   삼성  0.318  7  28  22   7  1  0  0   4  0  0  5   0  3   0  0
 5    6  김용철   롯데  0.269  7  28  26   7  1  0  0   3  0  0  2   0  4   0  0
 6    7  홍문종   롯데  0.222  7  29  27   6  0  0  0   1  0  0  2   0  7   0  0
 7    8  오대석   삼성  0.211  7  27  19   4  0  0  1   1  1  0  7   0  5   0  3
 8    9  김근석   삼성  0.182  7  26  22   4  2  0  0   1  0  0  2   0  3   0  0
 9   10  정영기   롯데  0.167  7  24  24   4  0  0  0   2  0  0  0   0  4   2  0
 10  11  장태수   삼성  0.143  7  30  28   4  0  0  0   0  0  1  2   0  9   0  1
 11  11  박용성   롯데  0.143  7  24  21   3  0  0  1   2  0  0  1   1  6   0  0
 12  11  유두열   롯데  0.143  7  28  21   3  0  0  1   3  2  0  4   1  5   0  1

     Year
 0   1982
 1   1982
 2   1982
 3   1982
 4   1982
 5   1982
 6   1982
 7   1982
 8   1982
 9   1982
 10  1982
 11  1982
 12  1982
 13  1982
 14  1982
 15  1982
 0   1983
 1   1983
 2   1983
 3   1983
 4   1983
 5   1983
 6   1983
 7   1983
 8   1983
 9   1983
 10  1983
 11  1983
 12  1983
 13  1983
 14  1983
 15  1983
 16  1983
 17  1983
 0   1984
 1   1984
 2   1984
 3   1984
 4   1984
 5   1984
 6   1984
 7   1984
 8   1984
 9   1984
 10  1984
 11  1984
 12  1984  ,
   순위   선수명   팀명   ERA  G CG SHO  W  L SV  ...  TBF      IP   H HR  BB HBP  SO  \
 0  1  선우대영   OB  2.55  3  0   0  1  0  0  ...   71  17 2/3  12  2   6   0   9
 1  2   이선희   삼성  2.87  5  1   0  1  2  0  ...  128  31 1/3  23  4  17   3   9
 2  3   박철순   OB  3.45  3  1   0  1  0  2  ...   64  15 2/3  13  1   7   0  10
 3  4   강철원   OB  4.97  2  0   0  0  0  0  ...   56  12 2/3   9  2  11   1   2
 4  5   권영호   삼성  5.91  4  0   0  0  1  0  ...   47  10 2/3  14  2   1   0   6
 5  6   황규봉   삼성  6.35  3  0   0  0  1  0  ...   54  11 1/3  15  0   4   0   5
 0  1   하기룡  MBC  1.32  2  0   0  0  0  0  ...   52  13 2/3  11  1   5   0   7
 1  2   김용남   해태  1.42  2  0   0  1  0  0  ...   49  12 2/3  11  0   3   1   4
 2  3   이상윤   해태  2.35  4  1   0  1  0  2  ...   93      23  19  1   7   0   8
 3  3   주동식   해태  2.35  3  0   0  2  0  0  ...   60  15 1/3  10  0   7   0   8
 4  5   오영일  MBC  5.29  3  1   0  0  1  0  ...   74      17  23  0   2   3   9
 5  6   유종겸  MBC  6.00  1  1   0  0  1  0  ...   43       9   9  0   7   0   5
 0  1   권영호   삼성  1.42  3  0   0  0  1  0  ...   47  12 2/3   8  1   0   1   5
 1  2   최동원   롯데  1.80  5  4   1  4  1  0  ...  159      40  32  2  11   1  35
 2  3   김일융   삼성  1.98  4  1   0  3  1  0  ...  108  27 1/3  21  1   8   1  21
 3  4   김시진   삼성  4.34  3  1   0  0  2  0  ...   78  18 2/3  16  1   8   1  15
 4  5   임호균   롯데  4.50  3  0   0  0  1  0  ...   44      10  11  0   5   1   2

     R  ER  Year
 0   5   5  1982
 1  11  10  1982
 2   6   6  1982
 3   7   7  1982
 4   9   7  1982
 5   8   8  1982
 0   2   2  1983
 1   3   2  1983
 2   6   6  1983
 3   4   4  1983
 4  11  10  1983
 5   8   6  1983
 0   3   2  1984
 1   9   8  1984
 2   8   6  1984
 3  12   9  1984
 4   5   5  1984

 [17 rows x 22 columns],
     순위  선수명   팀명  POS    G   GS    IP    E PKO   PO    A  DP   FPCT      PB  \
 0    1  배정대   KT  중견수  144  139  1189  1/3   3    0  308   7      1  1189 0
 1    2  최원준  KIA  우익수  140  133  1163  1/3   7    0  291  10      2  1163 0
 2    3  심우준   KT  유격수  138  129  1065   19   0  210  327  78  0.966       0
 3    4  알테어   NC  중견수  134  129  1078  2/3   2    0  319   4      2  1078 0
 4    4  손아섭   롯데  우익수  134  131  1118    5   0  222    5   0  0.978       0
 ..  ..  ...  ...  ...  ...  ...   ...  ...  ..  ...  ...  ..    ...     ...
 25  25  박경완   현대   포수  116   94   841  2/3   2    5  687  53     12   841 8
 26  27  이숭용   현대  1루수  115  107   905  1/3   5    0  894  72     85   905 0
 27  28  최경환   두산  좌익수  113   85   777    0   0  143    8   1  1.000       0
 28  28  김상훈  KIA   포수  113  109   910    6   1  664   54   8  0.992       8
 29  28  김창희  KIA  중견수  113   79   794  1/3   7    0  150   6      2   794 0

     SB  CS   CS%  Year
 0    0   0     -  2001
 1    0   0     -  2001
 2    0   0     -  2001
 3    0   0     -  2001
 4    0   0     -  2001
 ..  ..  ..   ...   ...
 25  59  31  34.4  2003
 26   0   0     -  2003
 27   0   0     -  2003
 28  48  44  47.8  2003
 29   0   0     -  2003

 [90 rows x 18 columns],
     순위    선수명  팀명    G SBA  SB  CS   SB% OOB PKO  Year
 0    1    정수근  두산  122  63  52  11  82.5   0   0  2001
 1    2    김수연  한화  129  58  42  16  72.4   0   0  2001
 2    3    김주찬  롯데   86  37  29   8  78.4   0   0  2001
 3    4  마르티네스  삼성  128  39  28  11  71.8   0   0  2001
 4    5    전준호  현대  125  42  27  15  64.3   0   0  2001
 ..  ..    ...  ..  ...  ..  ..  ..   ...  ..  ..   ...
 25  26    이병규  LG  109  15   9   6  60.0   0   0  2003
 26  26    김주찬  롯데   84  17   9   8  52.9   0   0  2003
 27  28    송지만  한화  131  11   8   3  72.7   0   0  2003
 28  28    송재익  SK  116  11   8   3  72.7   0   0  2003
 29  30    김민호  두산   95   7   7   0   100   0   0  2003

 [90 rows x 11 columns]]