In [36]:
import os
from selenium import webdriver 
import time 
import pandas as pd 

webdriver_path = os.getcwd()+'.//webdriver//chromedriver.exe'

url_base = 'https://www.koreabaseball.com/Record/Player/' 
category_list = ['HitterBasic/Basic1.aspx', 'HitterBasic/Detail1.aspx', 'Defense/Basic.aspx'] 
driver = webdriver.Chrome(webdriver_path) 
driver.implicitly_wait(3) 

# 드라이버 열기
driver.get(url_base+category_list[0])

<ipython-input-36-f6414a0df929>:10: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(webdriver_path)

In [41]:
driver.close()

In [37]:
# 정규시즌으로 페이지 넘김
driver.find_element_by_class_name('select02').click()
xpath_format = '//option[@value="0"]'
driver.find_element_by_xpath(xpath_format).click()

C:\Users\SEC\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:630: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")
C:\Users\SEC\anaconda3\lib\site-packages\selenium\webdriver\remote\webdriver.py:430: UserWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  warnings.warn("find_element_by_* commands are deprecated. Please use find_element() instead")

In [16]:
driver.find_element_by_class_name('select02').text.split('\n')

['  KBO 정규시즌',
 '  KBO 시범경기',
 '  KBO 와일드카드',
 '  KBO 준플레이오프',
 '  KBO 플레이오프',
 '  KBO 한국시리즈',
 ' ']

In [17]:
data_list=[x.strip() for x in driver.find_element_by_class_name('select02').text.split('\n')]

In [18]:
data_list

['KBO 정규시즌',
 'KBO 시범경기',
 'KBO 와일드카드',
 'KBO 준플레이오프',
 'KBO 플레이오프',
 'KBO 한국시리즈',
 '']

In [23]:
driver.find_element_by_tag_name('table').text.split('\n')

['순위 선수명 팀명 AVG G PA AB R H 2B 3B HR TB RBI SAC SF',
 '1 이정후 키움 0.360 123 544 464 78 167 42 6 7 242 84 0 9',
 '2 전준우 롯데 0.348 144 619 552 88 192 46 0 7 259 92 1 8',
 '3 강백호 KT 0.347 142 627 516 76 179 40 1 16 269 102 0 8',
 '4 홍창기 LG 0.328 144 651 524 103 172 26 2 4 214 52 0 2',
 '5 박건우 두산 0.325 126 525 458 82 149 31 2 6 202 63 0 6',
 '6 양의지 NC 0.325 141 570 480 81 156 29 2 30 279 111 0 10',
 '7 손아섭 롯데 0.319 139 610 542 88 173 29 2 3 215 58 3 1',
 '8 페르난데스 두산 0.315 141 617 540 73 170 24 0 15 239 81 0 6',
 '9 김선빈 KIA 0.307 130 564 501 55 154 32 0 5 201 67 1 5',
 '10 안치홍 롯데 0.306 119 490 421 58 129 30 2 10 193 82 5 9',
 '11 구자욱 삼성 0.306 139 610 543 107 166 30 10 22 282 88 1 12',
 '12 김혜성 키움 0.304 144 635 559 99 170 20 3 3 205 66 0 10',
 '13 박성한 SSG 0.302 135 471 407 53 123 21 1 4 158 44 12 2',
 '14 이용규 키움 0.296 133 547 459 88 136 16 8 1 171 43 6 6',
 '15 최원준 KIA 0.295 143 668 589 82 174 21 6 4 219 44 4 3',
 '16 정훈 롯데 0.292 135 561 486 70 142 27 1 14 213 79 1 3',
 '17 황재균 KT 0.291 117 507 453 74 132 16 2 10 182 56 1 4',
 '18 박해민 삼성 0.291 127 542 454 78 132 22 1 5 171 54 9 7',
 '19 강민호 삼성 0.291 123 462 406 55 118 22 0 18 194 67 0 7',
 '20 이대호 롯데 0.286 114 465 420 39 120 11 0 19 188 81 0 6',
 '20 피렐라 삼성 0.286 140 621 553 102 158 25 2 29 274 97 0 3',
 '22 오재일 삼성 0.285 120 484 418 64 119 20 0 25 214 97 0 8',
 '23 김현수 LG 0.285 140 595 506 70 144 23 1 17 220 96 0 9',
 '24 정은원 한화 0.283 139 608 495 85 140 22 5 6 190 39 4 3',
 '25 나성범 NC 0.281 144 623 570 96 160 29 1 33 290 101 0 4',
 '26 마차도 롯데 0.279 134 539 466 83 130 21 1 5 168 58 4 7',
 '27 한유섬 SSG 0.278 135 519 442 71 123 18 1 31 236 95 1 6',
 '28 허경민 두산 0.278 136 518 468 61 130 24 1 5 171 59 3 3',
 '29 최정 SSG 0.278 134 555 436 92 121 17 1 35 245 100 1 12',
 '30 채은성 LG 0.276 110 448 387 59 107 20 0 16 175 82 0 7']

In [24]:
temp_list = [x.split(' ') for x in driver.find_element_by_tag_name('table').text.split('\n')]
temp_list

[['순위',
  '선수명',
  '팀명',
  'AVG',
  'G',
  'PA',
  'AB',
  'R',
  'H',
  '2B',
  '3B',
  'HR',
  'TB',
  'RBI',
  'SAC',
  'SF'],
 ['1',
  '이정후',
  '키움',
  '0.360',
  '123',
  '544',
  '464',
  '78',
  '167',
  '42',
  '6',
  '7',
  '242',
  '84',
  '0',
  '9'],
 ['2',
  '전준우',
  '롯데',
  '0.348',
  '144',
  '619',
  '552',
  '88',
  '192',
  '46',
  '0',
  '7',
  '259',
  '92',
  '1',
  '8'],
 ['3',
  '강백호',
  'KT',
  '0.347',
  '142',
  '627',
  '516',
  '76',
  '179',
  '40',
  '1',
  '16',
  '269',
  '102',
  '0',
  '8'],
 ['4',
  '홍창기',
  'LG',
  '0.328',
  '144',
  '651',
  '524',
  '103',
  '172',
  '26',
  '2',
  '4',
  '214',
  '52',
  '0',
  '2'],
 ['5',
  '박건우',
  '두산',
  '0.325',
  '126',
  '525',
  '458',
  '82',
  '149',
  '31',
  '2',
  '6',
  '202',
  '63',
  '0',
  '6'],
 ['6',
  '양의지',
  'NC',
  '0.325',
  '141',
  '570',
  '480',
  '81',
  '156',
  '29',
  '2',
  '30',
  '279',
  '111',
  '0',
  '10'],
 ['7',
  '손아섭',
  '롯데',
  '0.319',
  '139',
  '610',
  '542',
  '88',
  '173',
  '29',
  '2',
  '3',
  '215',
  '58',
  '3',
  '1'],
 ['8',
  '페르난데스',
  '두산',
  '0.315',
  '141',
  '617',
  '540',
  '73',
  '170',
  '24',
  '0',
  '15',
  '239',
  '81',
  '0',
  '6'],
 ['9',
  '김선빈',
  'KIA',
  '0.307',
  '130',
  '564',
  '501',
  '55',
  '154',
  '32',
  '0',
  '5',
  '201',
  '67',
  '1',
  '5'],
 ['10',
  '안치홍',
  '롯데',
  '0.306',
  '119',
  '490',
  '421',
  '58',
  '129',
  '30',
  '2',
  '10',
  '193',
  '82',
  '5',
  '9'],
 ['11',
  '구자욱',
  '삼성',
  '0.306',
  '139',
  '610',
  '543',
  '107',
  '166',
  '30',
  '10',
  '22',
  '282',
  '88',
  '1',
  '12'],
 ['12',
  '김혜성',
  '키움',
  '0.304',
  '144',
  '635',
  '559',
  '99',
  '170',
  '20',
  '3',
  '3',
  '205',
  '66',
  '0',
  '10'],
 ['13',
  '박성한',
  'SSG',
  '0.302',
  '135',
  '471',
  '407',
  '53',
  '123',
  '21',
  '1',
  '4',
  '158',
  '44',
  '12',
  '2'],
 ['14',
  '이용규',
  '키움',
  '0.296',
  '133',
  '547',
  '459',
  '88',
  '136',
  '16',
  '8',
  '1',
  '171',
  '43',
  '6',
  '6'],
 ['15',
  '최원준',
  'KIA',
  '0.295',
  '143',
  '668',
  '589',
  '82',
  '174',
  '21',
  '6',
  '4',
  '219',
  '44',
  '4',
  '3'],
 ['16',
  '정훈',
  '롯데',
  '0.292',
  '135',
  '561',
  '486',
  '70',
  '142',
  '27',
  '1',
  '14',
  '213',
  '79',
  '1',
  '3'],
 ['17',
  '황재균',
  'KT',
  '0.291',
  '117',
  '507',
  '453',
  '74',
  '132',
  '16',
  '2',
  '10',
  '182',
  '56',
  '1',
  '4'],
 ['18',
  '박해민',
  '삼성',
  '0.291',
  '127',
  '542',
  '454',
  '78',
  '132',
  '22',
  '1',
  '5',
  '171',
  '54',
  '9',
  '7'],
 ['19',
  '강민호',
  '삼성',
  '0.291',
  '123',
  '462',
  '406',
  '55',
  '118',
  '22',
  '0',
  '18',
  '194',
  '67',
  '0',
  '7'],
 ['20',
  '이대호',
  '롯데',
  '0.286',
  '114',
  '465',
  '420',
  '39',
  '120',
  '11',
  '0',
  '19',
  '188',
  '81',
  '0',
  '6'],
 ['20',
  '피렐라',
  '삼성',
  '0.286',
  '140',
  '621',
  '553',
  '102',
  '158',
  '25',
  '2',
  '29',
  '274',
  '97',
  '0',
  '3'],
 ['22',
  '오재일',
  '삼성',
  '0.285',
  '120',
  '484',
  '418',
  '64',
  '119',
  '20',
  '0',
  '25',
  '214',
  '97',
  '0',
  '8'],
 ['23',
  '김현수',
  'LG',
  '0.285',
  '140',
  '595',
  '506',
  '70',
  '144',
  '23',
  '1',
  '17',
  '220',
  '96',
  '0',
  '9'],
 ['24',
  '정은원',
  '한화',
  '0.283',
  '139',
  '608',
  '495',
  '85',
  '140',
  '22',
  '5',
  '6',
  '190',
  '39',
  '4',
  '3'],
 ['25',
  '나성범',
  'NC',
  '0.281',
  '144',
  '623',
  '570',
  '96',
  '160',
  '29',
  '1',
  '33',
  '290',
  '101',
  '0',
  '4'],
 ['26',
  '마차도',
  '롯데',
  '0.279',
  '134',
  '539',
  '466',
  '83',
  '130',
  '21',
  '1',
  '5',
  '168',
  '58',
  '4',
  '7'],
 ['27',
  '한유섬',
  'SSG',
  '0.278',
  '135',
  '519',
  '442',
  '71',
  '123',
  '18',
  '1',
  '31',
  '236',
  '95',
  '1',
  '6'],
 ['28',
  '허경민',
  '두산',
  '0.278',
  '136',
  '518',
  '468',
  '61',
  '130',
  '24',
  '1',
  '5',
  '171',
  '59',
  '3',
  '3'],
 ['29',
  '최정',
  'SSG',
  '0.278',
  '134',
  '555',
  '436',
  '92',
  '121',
  '17',
  '1',
  '35',
  '245',
  '100',
  '1',
  '12'],
 ['30',
  '채은성',
  'LG',
  '0.276',
  '110',
  '448',
  '387',
  '59',
  '107',
  '20',
  '0',
  '16',
  '175',
  '82',
  '0',
  '7']]

In [25]:
temp_list[0]

['순위',
 '선수명',
 '팀명',
 'AVG',
 'G',
 'PA',
 'AB',
 'R',
 'H',
 '2B',
 '3B',
 'HR',
 'TB',
 'RBI',
 'SAC',
 'SF']

In [26]:
# Dataframe으로 변환
temp_list = [x.split(' ') for x in driver.find_element_by_tag_name('table').text.split('\n')] 
temp_data = pd.DataFrame(columns = temp_list[0]) 
for i,temp in enumerate(temp_list[1:]): 
    # 투수 기록 대비
    try: 
        temp_data.loc[i] = temp 
        time.sleep(0.5) 
    except: 
        ip_index = temp_list[0].index('IP') 
        ip = temp[ip_index] 
        del temp[13] 
        temp[13] = ip+' '+temp[13] 
        temp_data.loc[i] = temp 
        time.sleep(0.5)

In [27]:
temp_data

,순위,선수명,팀명,AVG,G,PA,AB,R,H,2B,3B,HR,TB,RBI,SAC,SF
0,1,이정후,키움,0.360,123,544,464,78,167,42,6,7,242,84,0,9
1,2,전준우,롯데,0.348,144,619,552,88,192,46,0,7,259,92,1,8
2,3,강백호,KT,0.347,142,627,516,76,179,40,1,16,269,102,0,8
3,4,홍창기,LG,0.328,144,651,524,103,172,26,2,4,214,52,0,2
4,5,박건우,두산,0.325,126,525,458,82,149,31,2,6,202,63,0,6
5,6,양의지,NC,0.325,141,570,480,81,156,29,2,30,279,111,0,10
6,7,손아섭,롯데,0.319,139,610,542,88,173,29,2,3,215,58,3,1
7,8,페르난데스,두산,0.315,141,617,540,73,170,24,0,15,239,81,0,6
8,9,김선빈,KIA,0.307,130,564,501,55,154,32,0,5,201,67,1,5
9,10,안치홍,롯데,0.306,119,490,421,58,129,30,2,10,193,82,5,9
10,11,구자욱,삼성,0.306,139,610,543,107,166,30,10,22,282,88,1,12
11,12,김혜성,키움,0.304,144,635,559,99,170,20,3,3,205,66,0,10
12,13,박성한,SSG,0.302,135,471,407,53,123,21,1,4,158,44,12,2
13,14,이용규,키움,0.296,133,547,459,88,136,16,8,1,171,43,6,6
14,15,최원준,KIA,0.295,143,668,589,82,174,21,6,4,219,44,4,3
15,16,정훈,롯데,0.292,135,561,486,70,142,27,1,14,213,79,1,3
16,17,황재균,KT,0.291,117,507,453,74,132,16,2,10,182,56,1,4
17,18,박해민,삼성,0.291,127,542,454,78,132,22,1,5,171,54,9,7
18,19,강민호,삼성,0.291,123,462,406,55,118,22,0,18,194,67,0,7
19,20,이대호,롯데,0.286,114,465,420,39,120,11,0,19,188,81,0,6
20,20,피렐라,삼성,0.286,140,621,553,102,158,25,2,29,274,97,0,3
21,22,오재일,삼성,0.285,120,484,418,64,119,20,0,25,214,97,0,8
22,23,김현수,LG,0.285,140,595,506,70,144,23,1,17,220,96,0,9
23,24,정은원,한화,0.283,139,608,495,85,140,22,5,6,190,39,4,3
24,25,나성범,NC,0.281,144,623,570,96,160,29,1,33,290,101,0,4
25,26,마차도,롯데,0.279,134,539,466,83,130,21,1,5,168,58,4,7
26,27,한유섬,SSG,0.278,135,519,442,71,123,18,1,31,236,95,1,6
27,28,허경민,두산,0.278,136,518,468,61,130,24,1,5,171,59,3,3
28,29,최정,SSG,0.278,134,555,436,92,121,17,1,35,245,100,1,12
29,30,채은성,LG,0.276,110,448,387,59,107,20,0,16,175,82,0,7

In [40]:
# 넥스트 버튼 누르기
driver.find_element_by_class_name('next').click()