<a href="https://colab.research.google.com/github/ujaei21/TIL/blob/master/%EB%B0%B1%EC%A4%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 a,b =input('input two numbers: ').split()
 print(int(a)+int(b))

In [ ]:
a,b = map(int,input().split())
print(a+b)

In [ ]:
def fibonachi(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonachi(n-1) + fibonachi(n-2)

In [ ]:
fibonachi(5)

In [ ]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__) |")

In [ ]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

In [ ]:
# 첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.
a,b = map(int,input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

In [ ]:
# 첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 
# 출력한다.
a,b,c = map(int,input().split())
print((a+b)%c)
print(((a%c)+(b%c))%c)
print((a*b)%c)
print(((a%c)*(b%c))%c)

In [ ]:
a = input()
for i in range(3):
    print(a[i])

In [ ]:
a = int(input())
b = input()
for i in range(1,4):
    print(a*int(b[-i]))
print(a*int(b))

In [ ]:
b[-1]

In [ ]:
print('|\_/|')
print('|q p|   /}')
print('( 0 )"""\\')
print('|"^"`    |')
print('||_/=\\\\__|')

In [ ]:
a,b = map(int,input().split())
if a>b:
    print('>')
elif a<b:
    print('<')
else:
    print('==')

In [ ]:
# 2753번
# 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

# 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

# 예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

year = int(input())

if ((year % 4 == 0) and (year % 100 != 0)) or (year%400 == 0):
    print(1)
else:
    print(0)

2000
1

In [ ]:
2000%4

0

In [ ]:
# 14681번
# 흔한 수학 문제 중 하나는 주어진 점이 어느 사분면에 속하는지 알아내는 것이다.

x = int(input())
y = int(input())

if x > 0 and y > 0:
    print(1)
elif x < 0 and y > 0:
    print(2)
elif x < 0 and y < 0:
    print(3)
else:
    print(4)

-12
5
2

In [ ]:
# 2884 번

# 상근이는 매일 아침 알람을 듣고 일어난다. 알람을 듣고 바로 일어나면 다행이겠지만, 항상 조금만 더 자려는 마음 때문에 매일 학교를 지각하고 있다.

# 상근이는 모든 방법을 동원해보았지만, 조금만 더 자려는 마음은 그 어떤 것도 없앨 수가 없었다.

# 이런 상근이를 불쌍하게 보던, 창영이는 자신이 사용하는 방법을 추천해 주었다.

# 바로 "45분 일찍 알람 설정하기"이다.

# 이 방법은 단순하다. 원래 설정되어 있는 알람을 45분 앞서는 시간으로 바꾸는 것이다. 어차피 알람 소리를 들으면, 알람을 끄고 조금 더 잘 것이기 때문이다. 이 방법을 사용하면, 매일 아침 더 잤다는 기분을 느낄 수 있고, 학교도 지각하지 않게 된다.

# 현재 상근이가 설정한 알람 시각이 주어졌을 때, 창영이의 방법을 사용한다면, 이를 언제로 고쳐야 하는지 구하는 프로그램을 작성하시오.

H,M = map(int,input().split())
if M < 45:
    if H == 0:
        H = 23
        M += 60
    else:
        H -= 1
        M += 60
print(H,M-45)

12 20
11 35

In [ ]:
# 2739 번

# N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

N = int(input())
for i in range(1,10):
    print("{0} * {1} = {2}".format(N,i,N*i))

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
# 10950번

# 첫째 줄에 테스트 케이스의 개수 T가 주어진다.

# 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

iter = int(input())

for i in range(iter):
    a,b = map(int,input().split())
    print(a+b)

5
2 3
5
9 8
17
5 2
7
22 23
45
5 5
10

In [ ]:
fin = int(input())
num=0

for i in range(1,fin+1):
    num += i

print(num)

5
15

In [ ]:
# 15552번 빠른 A+B

# 맞았다 뜨는데 여기선 에러

import sys

iter = int(input())

for _ in range(iter):
    a,b =  map(int, sys.stdin.readline().rstrip().split())
    print(a+b)

5

ValueError: ignored

In [ ]:
# 2714번

T = int(input())

for i in range(1,T+1):
    print(i)

5
1
2
3
4
5

In [ ]:
# 2742번

T = int(input())

for i in range(T,0,-1):
    print(i)

5
5
4
3
2
1

In [ ]:
# 11021번

T = int(input())

for i in range(1,T+1):
    a,b = map(int,input().split())
    print("Case #"+str(i)+":",a+b)

2
1 2
Case #1: 3
2 3
Case #2: 5

In [ ]:
# 11022번 

# 각 테스트 케이스마다 "Case #x: A + B = C" 형식으로 출력한다. x는 테스트 케이스 번호이고 1부터 시작하며, C는 A+B이다.

T = int(input())

for i in range(1,T+1):
    a,b = map(int,input().split())
    print("Case #"+str(i)+":",a,"+",b,'=',a+b)

2
5 7
Case #1: 5 + 7 = 12
5 5
Case #2: 5 + 5 = 10

In [ ]:
# 2438

iter = int(input())

for i in range(1,iter+1):
    for j in range(i):
        print('*',end='') 
    print()

5
    *
   **
  ***
 ****
*****

In [ ]:
# 2439

iter = int(input())

for i in range(1,iter+1):
    for j in range(iter-i,0,-1):
        print(' ',end='')
    for j in range(i):
        print('*',end='') 
    print()

5
    *
   **
  ***
 ****
*****

In [ ]:
# 10872
iter, stand = map(int,input().split())
a=list(map(int,input().split()))
for i in a:
    if i < stand:
        print(i,end=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

In [ ]:
# 10952

while True:
    a,b = map(int,input().split())
    if a == 0 and b == 0:
        break
    else:
        print(a+b)

1 2
3
4 5
9
0 5
5
0 0

In [ ]:
# 10951

while True:
    try:
        a,b = map(int,input().split())
        print(a+b)
    except:
        break

In [ ]:
# 1110
origin = int(input())
num = origin
cnt = 0
while 1:
    sum_num = num//10 + num %10
    new_num = ((num%10)*10) + sum_num % 10  
    cnt += 1
    if new_num == origin:
        break
    num = new_num
print(cnt)

26
4

In [ ]:
# 10818 번

N = int(input())
array = list(map(int,input().split()))
array.sort()
print(array[0], array[N-1])

5
20 10 35 30 7
7 35

In [ ]:
# 2562 번
arr = list()
for i in range(9):
    arr.insert(i,int(input()))
print(arr)

3
29
38
12
57
74
40
85
61
[3, 29, 38, 12, 57, 74, 40, 85, 61]

In [ ]:
print(max(arr))
print(arr.index(max(arr)))

85
7

In [ ]:
# 2562 번
arr = list()
for i in range(9):
    arr.insert(i,int(input()))
print(max(arr))
print(arr.index(max(arr))+1)

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
# 2577번
A = int(input())
B = int(input())
C = int(input())
print(A*B*C)

150
266
427
17037300

In [ ]:
arr=[0]*10
print(arr)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
a,b,c = list(int(input()) for _ in range(3) )

150
266
427

In [ ]:
a,b,c = list(int(input()) for _ in range(3) )

abc = a*b*c
arr = [0]*10

for i in str(abc):
    arr[int(i)] += 1

for i in arr:
    print(i)

150
266
427
3
1
0
2
0
0
0
2
0
0

In [ ]:
# 3052 번 
# set 함수 사용

nums = set()

for _ in range(10):
    i = int(input())
    nums.add(i%42)
print(len(nums))

1
2
3
4
5
6
7
8
9
10

10

## 4일차

###1546

### 문제

세준이는 기말고사를 망쳤다. 세준이는 점수를 조작해서 집에 가져가기로 했다. 일단 세준이는 자기 점수 중에 최댓값을 골랐다. 이 값을 M이라고 한다. 그리고 나서 모든 점수를 점수/M*100으로 고쳤다.

예를 들어, 세준이의 최고점이 70이고, 수학점수가 50이었으면 수학점수는 50/70*100이 되어 71.43점이 된다.

세준이의 성적을 위의 방법대로 새로 계산했을 때, 새로운 평균을 구하는 프로그램을 작성하시오.

### 입력

첫째 줄에 시험 본 과목의 개수 N이 주어진다. 이 값은 1000보다 작거나 같다. 둘째 줄에 세준이의 현재 성적이 주어진다. 이 값은 100보다 작거나 같은 음이 아닌 정수이고, 적어도 하나의 값은 0보다 크다.

In [ ]:
n = int(input())
arr =list(map(int,input().split()))
avg = (sum(arr)/max(arr)*100)/n
print(avg)

4
1 100 100 100
75.25

### 8958
### 문제
"OOXXOXXOOO"와 같은 OX퀴즈의 결과가 있다. O는 문제를 맞은 것이고, X는 문제를 틀린 것이다. 문제를 맞은 경우 그 문제의 점수는 그 문제까지 연속된 O의 개수가 된다. 예를 들어, 10번 문제의 점수는 3이 된다.

"OOXXOXXOOO"의 점수는 1+2+0+0+1+0+0+1+2+3 = 10점이다.

OX퀴즈의 결과가 주어졌을 때, 점수를 구하는 프로그램을 작성하시오.
### 입력

첫째 줄에 테스트 케이스의 개수가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있고, 길이가 0보다 크고 80보다 작은 문자열이 주어진다. 문자열은 O와 X만으로 이루어져 있다.

In [ ]:
text = "OOXXOXXOOO"
num = len(text)
score = [0]*num
for i in range(num):
    if text[i] =="O":
        score[i]+=1
        if i == 0:
            pass
        elif score[i-1] != 0:
            score[i] = score[i-1] +1

print(sum(score))

10

In [ ]:
n = int(input())
sumscore = [0]*n

for j in range(n):
    text = input()
    num = len(text)
    score = [0]*num
    for i in range(num):
        if text[i] =="O":
            score[i]+=1
            if i == 0:
                pass
            elif score[i-1] != 0:
                score[i] = score[i-1] +1
    sumscore[j] = sum(score)

for k in range(n):
    print(sumscore[k])

5
OOXXOXXOOO
OOXXOOXXOO
OXOXOXOXOXOXOX
OOOOOOOOOO
OOOOXOOOOXOOOOX
10
9
7
55
30

In [ ]:
# 인터넷 예시
T = int(input())

for i in range(T):
    score = 0
    test = str(input())
    temp = 1
    for i in range(len(test)):
        # "O" 이 반복될 시 temp가 하나씩 올라감 
        if test[i] == "O":
            score += temp
            temp += 1
        # 아닐결우 다시 1로 초기화
        else:
            temp = 1
    print(score)

1
OXOXOXOXOXOXOX
7

## 5일차
면접준비로 인하여 오랜만에 참여

### 4344번 

### 입력
첫째 줄에는 테스트 케이스의 개수 C가 주어진다.

둘째 줄부터 각 테스트 케이스마다 학생의 수 N(1 ≤ N ≤ 1000, N은 정수)이 첫 수로 주어지고, 이어서 N명의 점수가 주어진다. 점수는 0보다 크거나 같고, 100보다 작거나 같은 정수이다.

### 출력
각 케이스마다 한 줄씩 평균을 넘는 학생들의 비율을 반올림하여 소수점 셋째 자리까지 출력한다.

In [ ]:
num = int(input())
for _ in range(num):
    arr = list(map(int,input().split()))
    result = sum(arr[1:])/arr[0]
    cnt = 0
    for score in arr[1:]:
        if score > result:
            cnt += 1
    print("{0:.3f}%".format(cnt/arr[0]*100))

1
5 50 50 70 80 100
40.000%

### 15596번

### 문제
정수 n개가 주어졌을 때, n개의 합을 구하는 함수를 작성하시오.

작성해야 하는 함수는 다음과 같다.

Python 2, Python 3, PyPy, PyPy3: def solve(a: list) -> int
a: 합을 구해야 하는 정수 n개가 저장되어 있는 리스트 (0 ≤ a[i] ≤ 1,000,000, 1 ≤ n ≤ 3,000,000)
리턴값: a에 포함되어 있는 정수 n개의 합 (정수)

In [8]:
def solve(a):
    return sum(a)