<a href="https://colab.research.google.com/github/ujaei21/TIL/blob/master/%EB%B0%B1%EC%A4%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 a,b =input('input two numbers: ').split()
 print(int(a)+int(b))

In [ ]:
a,b = map(int,input().split())
print(a+b)

In [ ]:
def fibonachi(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonachi(n-1) + fibonachi(n-2)

In [ ]:
fibonachi(5)

In [ ]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__) |")

In [ ]:
print("\\    /\\")
print(" )  ( ')")
print("(  /  )")
print(" \\(__)|")

In [ ]:
# 첫째 줄에 A+B, 둘째 줄에 A-B, 셋째 줄에 A*B, 넷째 줄에 A/B, 다섯째 줄에 A%B를 출력한다.
a,b = map(int,input().split())
print(a+b)
print(a-b)
print(a*b)
print(a//b)
print(a%b)

In [ ]:
# 첫째 줄에 (A+B)%C, 둘째 줄에 ((A%C) + (B%C))%C, 셋째 줄에 (A×B)%C, 넷째 줄에 ((A%C) × (B%C))%C를 
# 출력한다.
a,b,c = map(int,input().split())
print((a+b)%c)
print(((a%c)+(b%c))%c)
print((a*b)%c)
print(((a%c)*(b%c))%c)

In [ ]:
a = input()
for i in range(3):
    print(a[i])

In [ ]:
a = int(input())
b = input()
for i in range(1,4):
    print(a*int(b[-i]))
print(a*int(b))

In [ ]:
b[-1]

In [ ]:
print('|\_/|')
print('|q p|   /}')
print('( 0 )"""\\')
print('|"^"`    |')
print('||_/=\\\\__|')

In [ ]:
a,b = map(int,input().split())
if a>b:
    print('>')
elif a<b:
    print('<')
else:
    print('==')

In [ ]:
# 2753번
# 연도가 주어졌을 때, 윤년이면 1, 아니면 0을 출력하는 프로그램을 작성하시오.

# 윤년은 연도가 4의 배수이면서, 100의 배수가 아닐 때 또는 400의 배수일 때이다.

# 예를 들어, 2012년은 4의 배수이면서 100의 배수가 아니라서 윤년이다. 1900년은 100의 배수이고 400의 배수는 아니기 때문에 윤년이 아니다. 하지만, 2000년은 400의 배수이기 때문에 윤년이다.

year = int(input())

if ((year % 4 == 0) and (year % 100 != 0)) or (year%400 == 0):
    print(1)
else:
    print(0)

2000
1

In [ ]:
2000%4

0

In [ ]:
# 14681번
# 흔한 수학 문제 중 하나는 주어진 점이 어느 사분면에 속하는지 알아내는 것이다.

x = int(input())
y = int(input())

if x > 0 and y > 0:
    print(1)
elif x < 0 and y > 0:
    print(2)
elif x < 0 and y < 0:
    print(3)
else:
    print(4)

-12
5
2

In [ ]:
# 2884 번

# 상근이는 매일 아침 알람을 듣고 일어난다. 알람을 듣고 바로 일어나면 다행이겠지만, 항상 조금만 더 자려는 마음 때문에 매일 학교를 지각하고 있다.

# 상근이는 모든 방법을 동원해보았지만, 조금만 더 자려는 마음은 그 어떤 것도 없앨 수가 없었다.

# 이런 상근이를 불쌍하게 보던, 창영이는 자신이 사용하는 방법을 추천해 주었다.

# 바로 "45분 일찍 알람 설정하기"이다.

# 이 방법은 단순하다. 원래 설정되어 있는 알람을 45분 앞서는 시간으로 바꾸는 것이다. 어차피 알람 소리를 들으면, 알람을 끄고 조금 더 잘 것이기 때문이다. 이 방법을 사용하면, 매일 아침 더 잤다는 기분을 느낄 수 있고, 학교도 지각하지 않게 된다.

# 현재 상근이가 설정한 알람 시각이 주어졌을 때, 창영이의 방법을 사용한다면, 이를 언제로 고쳐야 하는지 구하는 프로그램을 작성하시오.

H,M = map(int,input().split())
if M < 45:
    if H == 0:
        H = 23
        M += 60
    else:
        H -= 1
        M += 60
print(H,M-45)

12 20
11 35

In [ ]:
# 2739 번

# N을 입력받은 뒤, 구구단 N단을 출력하는 프로그램을 작성하시오. 출력 형식에 맞춰서 출력하면 된다.

N = int(input())
for i in range(1,10):
    print("{0} * {1} = {2}".format(N,i,N*i))

9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
# 10950번

# 첫째 줄에 테스트 케이스의 개수 T가 주어진다.

# 각 테스트 케이스는 한 줄로 이루어져 있으며, 각 줄에 A와 B가 주어진다. (0 < A, B < 10)

iter = int(input())

for i in range(iter):
    a,b = map(int,input().split())
    print(a+b)

5
2 3
5
9 8
17
5 2
7
22 23
45
5 5
10

In [ ]:
fin = int(input())
num=0

for i in range(1,fin+1):
    num += i

print(num)

5
15