<a href="https://colab.research.google.com/github/ujaei21/TIL/blob/master/%EC%9D%B4%EA%B2%83%EC%9D%B4_%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8%EB%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 1260
count = 0

coin_types = [500,100,50,10]
for coin in coin_types:
    count += n//coin 
    n %= coin
print(count)

6

In [ ]:
# 큰 수의 법칙

n,m,k = map(int,input().split())
data = list(map(int,input().split()))

data.sort()
first = data[n-1]
second =data[n-2]

result = 0

while True:
    for i in range(k):
        if m == 0:
            break
        else:
            result += first
            m -= 1
    if m == 0:
        break
    result += second
    m -= 1

print(result)

5 8 3
2 4 5 4 6
46

In [ ]:
# 큰 수의 법칙 두번째 파트 수가 1억이 넘을때

n,m,k = map(int,input().split())
data = list(map(int,input().split()))

data.sort()
first = data[n-1]
second =data[n-2]

count = m//(k+1)*k
count += m%(k+1)

result = 0
result += first*count
result += (m-count)* second

print(result)

5 8 3
2 4 5 4 6
46

In [ ]:
# 카드게임
n,m = map(int,input().split())
result = 0

for i in range(n):
    data = list(map(int,input().split()))
    min_val = min(data)
    result = max(result,min_val)
print(result)

3 3
3 1 2
4 1 4
2 2 2
2

In [ ]:
# n이 1이 될 때까지
n,k = map(int,input().split())

result = 0
while n >= k:
    while n%k != 0:
        n -= 1
        result += 1
    n = n//k
    result += 1
while n > 1:
    n -= 1
    result += 1
print(result)

25 3
6

In [ ]:
# n이 끌때 쓰는 법
n,k = map(int,input().split())

result = 0

while True:
    target = (n//k)*k
    result += (n-target)
    n = target

    if n < k:
        break
    result += 1
    n //= k

result += (n-1)
print(result)

25 3
6

In [ ]:
# 4-1 상하좌우
n = int(input())
x,y = 1,1
plans = input().split()

dx = [0,0,-1,1]
dy = [-1,1,0,0]
move_types = ['L','R','U','D']

for plan in plans:
    for i in range(len(move_types)):
        if plan == move_types[i]:
            nx = x + dx[i]
            ny = y + dy[i]
    if nx < 1 or ny < 1 or nx > n or ny > n:
        continue
    x,y = nx, ny 
print(x,y)

5
R R R U D D
3 4

In [ ]:
# 4-2 시각
n = int(input())
count = 0

for h in range(n+1):
    for min in range(60):
        for sec in range(60):
            # 문자로 변환하여 카운트
            if '3' in str(h) +str(min) + str(sec):
                count += 1
print(count)

5
11475

In [5]:
# 4-3 왕실의 나이트

input_data = input()
row = int(input_data[1])
column = int(ord(input_data[0])-ord('a')) +1

# 8가지 방향
steps = [(-2,-1),(-1,-2),(1,-2),(2,-1),(2,1),(1,2),(-1,2),(-2,1)]

result = 0
for step in steps:
    next_row = row + step[0]
    next_col = column + step[1]

    if next_row >= 1 and next_row <=8 and next_col >=1 and next_col <= 8:
        result += 1

print(result)

a3
4