In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('C:/Users/SEC/OneDrive/바탕 화면/air/AIR_HOUR_2019.csv')

In [5]:
data.tail()

,�����Ͻ�,������ �ڵ�,�����׸� �ڵ�,��հ�,������ ����,���� �����ʰ� ����,����ü �����ʰ� ����
1257061,2019-12-31 23:00,123,9,13.000,0,0,0
1257062,2019-12-31 23:00,118,9,24.000,0,0,0
1257063,2019-12-31 23:00,105,8,19.000,0,0,0
1257064,2019-12-31 23:00,125,3,0.037,0,0,0
1257065,2019-12-31 23:00,108,3,0.030,0,0,0

In [11]:
data.drop(data.columns[4:],axis=1, inplace=True)

In [14]:
data.columns=['Measurement date','Station code','Item code','Average value']

In [15]:
data.tail()

         Measurement date  Station code  Item code  Average value
1257061  2019-12-31 23:00           123          9         13.000
1257062  2019-12-31 23:00           118          9         24.000
1257063  2019-12-31 23:00           105          8         19.000
1257064  2019-12-31 23:00           125          3          0.037
1257065  2019-12-31 23:00           108          3          0.030

In [19]:
data1=data[data['Item code']==1]
data3=data[data['Item code']==3]
data5=data[data['Item code']==5]
data6=data[data['Item code']==6]
data8=data[data['Item code']==8]
data9=data[data['Item code']==9]

In [18]:
data['Item code'].unique()

array([1, 3, 6, 5, 8, 9], dtype=int64)

In [24]:
len(data1['Station code'].unique())

25

In [26]:
data1.shape

(209511, 4)

In [27]:
merge1=pd.merge(data1,data3,on=['Measurement date','Station code'])

In [30]:
merge1.columns

Index(['Measurement date', 'Station code', 'Item code_x', 'Average value_x',
       'Item code_y', 'Average value_y'],
      dtype='object')

In [31]:
merge1.columns=['Measurement date', 'Station code', '1', 'SO2',
       '3', 'NO2']

In [32]:
merge1.drop(['1','3'],axis=1,inplace=True)

In [33]:
merge1.head()

   Measurement date  Station code    SO2    NO2
0  2019-01-01 01:00           101  0.004  0.061
1  2019-01-01 01:00           123  0.006  0.051
2  2019-01-01 01:00           112  0.002  0.032
3  2019-01-01 01:00           124  0.005  0.071
4  2019-01-01 01:00           125  0.005  0.060

In [37]:
merge2=pd.merge(merge1,data5,on=['Measurement date','Station code'])

In [38]:
merge2.drop('Item code',axis=1,inplace=True)

In [42]:
merge2.columns=['Measurement date', 'Station code', 'SO2',
       'NO2','CO']

In [43]:
merge2.head()

   Measurement date  Station code    SO2    NO2   CO
0  2019-01-01 01:00           101  0.004  0.061  1.1
1  2019-01-01 01:00           123  0.006  0.051  0.9
2  2019-01-01 01:00           112  0.002  0.032  0.6
3  2019-01-01 01:00           124  0.005  0.071  1.3
4  2019-01-01 01:00           125  0.005  0.060  1.0

In [45]:
merge3=pd.merge(merge2,data6,on=['Measurement date','Station code'])

In [46]:
merge3.drop('Item code',axis=1,inplace=True)

In [48]:
merge3.columns=['Measurement date', 'Station code', 'SO2',
       'NO2','CO','O3']

In [49]:
merge3.head()

   Measurement date  Station code    SO2    NO2   CO     O3
0  2019-01-01 01:00           101  0.004  0.061  1.1  0.002
1  2019-01-01 01:00           123  0.006  0.051  0.9  0.002
2  2019-01-01 01:00           112  0.002  0.032  0.6  0.010
3  2019-01-01 01:00           124  0.005  0.071  1.3  0.002
4  2019-01-01 01:00           125  0.005  0.060  1.0  0.002

In [51]:
merge4=pd.merge(merge3,data8,on=['Measurement date','Station code'])

In [52]:
merge4.drop('Item code',axis=1,inplace=True)

In [53]:
merge4.columns=['Measurement date', 'Station code', 'SO2',
       'NO2','CO','O3','PM10']

In [54]:
merge5=pd.merge(merge4,data9,on=['Measurement date','Station code'])

In [56]:
merge5.drop('Item code',axis=1,inplace=True)

In [58]:
merge5.columns=['Measurement date', 'Station code', 'SO2',
       'NO2','CO','O3','PM10','PM2.5']

In [59]:
merge5.head()

   Measurement date  Station code    SO2    NO2   CO     O3  PM10  PM2.5
0  2019-01-01 01:00           101  0.004  0.061  1.1  0.002  37.0   22.0
1  2019-01-01 01:00           123  0.006  0.051  0.9  0.002  40.0   30.0
2  2019-01-01 01:00           112  0.002  0.032  0.6  0.010  43.0   26.0
3  2019-01-01 01:00           124  0.005  0.071  1.3  0.002  60.0   32.0
4  2019-01-01 01:00           125  0.005  0.060  1.0  0.002  48.0   34.0

In [60]:
merge5.to_csv('seoul_Air_2019.csv')