In [2]:
import pandas as pd

In [5]:
# index_col = 파일 내 인덱스 지정
df = pd.read_csv('ch1_sport_test.csv',index_col='학생번호')

In [6]:
df.head()

      학년    악력  윗몸일으키기  점수  순위
학생번호
1      1  40.2      34  15   4
2      1  34.2      14   7  10
3      1  28.8      27  11   7
4      2  39.0      27  14   5
5      2  50.9      32  17   2

In [7]:
df['악력']

학생번호
1     40.2
2     34.2
3     28.8
4     39.0
5     50.9
6     36.5
7     36.6
8     49.2
9     26.0
10    47.4
Name: 악력, dtype: float64

In [9]:
df.shape

(10, 5)