In [1]:
###!pip install camelot

In [2]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: 18F9-02FB

 C:\Users\SEC\OneDrive\바탕 화면\2021-K-Digital-Training-main\camelot 디렉터리

2021-06-29  오후 05:21    <DIR>          .
2021-06-29  오후 05:21    <DIR>          ..
2021-06-29  오후 05:22    <DIR>          .ipynb_checkpoints
2021-06-29  오후 05:02         1,657,306 example.pdf
2021-06-29  오후 04:35            84,158 foo.pdf
2021-06-29  오후 05:21            15,861 pdf.ipynb
2021-06-29  오후 04:35                48 README.md
2021-06-29  오후 04:35           245,180 RPA_part20(camelot).pdf
2021-06-29  오후 05:17             5,899 table0.xlsx
2021-06-29  오후 05:20             5,760 tb01.xlsx
               7개 파일           2,014,212 바이트
               3개 디렉터리  20,365,463,552 바이트 남음

In [3]:
import camelot
#import sys
tables=camelot.read_pdf('foo.pdf')

In [4]:
type(tables)

camelot.core.TableList

In [5]:
tables[0].df

,0,1,2,3,4,5,6
0,Cycle \nName,KI \n(1/km),Distance \n(mi),Percent Fuel Savings,,,
1,,,,Improved \nSpeed,Decreased \nAccel,Eliminate \nStops,Decreased \nIdle
2,2012_2,3.30,1.3,5.9%,9.5%,29.2%,17.4%
3,2145_1,0.68,11.2,2.4%,0.1%,9.5%,2.7%
4,4234_1,0.59,58.7,8.5%,1.3%,8.5%,3.3%
5,2032_2,0.17,57.8,21.7%,0.3%,2.7%,1.2%
6,4171_1,0.07,173.9,58.1%,1.6%,2.1%,0.5%

In [6]:
print(tables[0])

<Table shape=(7, 7)>

In [7]:
tables[0].to_excel('table0.xlsx')

In [8]:
tables0=camelot.read_pdf('example.pdf',pages='1,2,3')

In [9]:
tables0

In [10]:
tables0[0].df

,0,1,2,3
0,Powertrain system,IC,Parallel,Power \nsplit
1,displacement (cc),"2,359","2,359","2,362"
2,Weight (kg),"1,530","1,680","1,670"
3,Engine power (kW),150,117,110
4,Battery output power (kW),-,34,30
5,Battey capacity (Wh),-,"1,431","1,591"
6,Transmission system,Transmission \n6 speed,Transmission \n6 speed,ECVT
7,Motor power (kW),-,35,105
8,Total system power (kW),150,150,140

In [11]:
df1=tables0[0].df

In [12]:
df1[0]

0            Powertrain system
1            displacement (cc)
2                  Weight (kg)
3            Engine power (kW)
4    Battery output power (kW)
5         Battey capacity (Wh)
6          Transmission system
7             Motor power (kW)
8      Total system power (kW)
Name: 0, dtype: object

In [13]:
tables0[1].df

                      0       1       2       3
0                Season  Summer  Autumn  Winter
1          Ambient (°C)      30      25       0
2  A/C Temperature (°C)      22       -      24
3                   A/C      on     off     off
4                Heater     off     off      on

In [14]:
tables0[2].to_excel('tb01.xlsx')

In [15]:
tables1=camelot.read_pdf('example.pdf',pages='1,2,3,4,5,6,7')

In [16]:
tables1

In [18]:
tables1[15]

In [20]:
tables1[15].df

,0,1,2,3
0,Expressway\ncondition,Drive distance 200 km,,
1,City real road\ncondition,Average speed,,
2,,City 1,City 2,City 3
3,,12 km/h,21 km/h,29 km/h
4,Internal \ncombustion \nvehicle,2053 L,1709 L,1532 L
5,,"₩2,796,364","₩2,328,166","₩2,087,129"
6,Parallel \nhybrid vehicle,1403 L (32 %),1236 L (28 %),1150 L (25 %)
7,,"₩1,911,141","₩1,683,813","₩1,566,637"
8,Powersplit\nhybrid vehicle,1347 L (34 %),1192 L (30 %),1119 L (27 %)
9,,"₩1,834,358","₩1,622,890","₩1,524,061"