In [1]:
from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
import pandas as pd

In [3]:
iris = load_iris()

In [4]:
iris_data=iris.data

In [5]:
iris_label=iris.target

In [6]:
iris_df=pd.DataFrame(data=iris_data,columns = iris.feature_names)
iris_df['label']=iris.target

In [7]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [8]:
iris_df2=iris_df
iris_df2.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [9]:
def label_name(label):
    if label == 0:
        name = 'setosa'
    elif label == 1:
        name = 'versicolor'
    else:
        name = 'versinica'
    return name

In [10]:
iris_df2['label_name']=iris_df2.apply(lambda x: label_name(x['label']), axis=1)

In [11]:
iris_df2.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),label,label_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [12]:
x_train,x_test,y_train,y_test=train_test_split(iris_data,iris_label, test_size=0.2,random_state=11)

In [13]:
dt_clf = DecisionTreeClassifier(random_state=11)

dt_clf.fit(x_train,y_train)

DecisionTreeClassifier(random_state=11)

In [14]:
pred = dt_clf.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred)

0.9333333333333333