In [1]:
import pandas as pd

In [2]:
airdata=pd.read_csv('C:/Users/SEC/TIL/210708-시간전처리/전처리 완료/AirDate.csv')

In [3]:
airdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43536 entries, 0 to 43535
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    43536 non-null  int64
 1   Station code  43536 non-null  int64
 2   Date          43536 non-null  object
 3   SO2           42619 non-null  float64
 4   CO            42575 non-null  float64
 5   O3            42721 non-null  float64
 6   NO2           42656 non-null  float64
 7   PM10          42269 non-null  float64
 8   PM25          41056 non-null  float64
dtypes: float64(6), int64(2), object(1)
memory usage: 3.0+ MB

In [4]:
airdata.head()

,Unnamed: 0,Station code,Date,SO2,CO,O3,NO2,PM10,PM25
0,0,111121,2018-01-01,0.004833,0.554167,0.014583,0.029292,32.666667,17.791667
1,1,111121,2018-01-02,0.004625,0.783333,0.012208,0.036292,32.125000,19.666667
2,2,111121,2018-01-03,0.004583,0.491667,0.017833,0.020625,29.583333,17.583333
3,3,111121,2018-01-04,0.004625,0.662500,0.008792,0.036042,38.708333,23.833333
4,4,111121,2018-01-05,0.005083,0.766667,0.006292,0.044083,47.875000,32.708333

In [5]:
airdata.drop('Unnamed: 0',axis=1,inplace=True)

In [6]:
airdata.head()

,Station code,Date,SO2,CO,O3,NO2,PM10,PM25
0,111121,2018-01-01,0.004833,0.554167,0.014583,0.029292,32.666667,17.791667
1,111121,2018-01-02,0.004625,0.783333,0.012208,0.036292,32.125000,19.666667
2,111121,2018-01-03,0.004583,0.491667,0.017833,0.020625,29.583333,17.583333
3,111121,2018-01-04,0.004625,0.662500,0.008792,0.036042,38.708333,23.833333
4,111121,2018-01-05,0.005083,0.766667,0.006292,0.044083,47.875000,32.708333

In [7]:
airdata.isnull().sum()

Station code       0
Date               0
SO2              917
CO               961
O3               815
NO2              880
PM10            1267
PM25            2480
dtype: int64

In [8]:
median1=airdata.SO2.median()

In [9]:
airdata.SO2.fillna(median1,inplace=True)

In [10]:
median2=airdata.CO.median()
median3=airdata.O3.median()
median4=airdata.NO2.median()
median5=airdata.PM10.median()
median6=airdata.PM25.median()

In [12]:
airdata.CO.fillna(median2,inplace=True)
airdata.O3.fillna(median3,inplace=True)
airdata.NO2.fillna(median4,inplace=True)
airdata.PM10.fillna(median5,inplace=True)
airdata.PM25.fillna(median6,inplace=True)

In [13]:
airdata.isnull().sum()

Station code    0
Date            0
SO2             0
CO              0
O3              0
NO2             0
PM10            0
PM25            0
dtype: int64

In [21]:
airdata.round(3)

       Station code        Date    SO2     CO     O3    NO2    PM10    PM25
0            111121  2018-01-01  0.005  0.554  0.015  0.029  32.667  17.792
1            111121  2018-01-02  0.005  0.783  0.012  0.036  32.125  19.667
2            111121  2018-01-03  0.005  0.492  0.018  0.021  29.583  17.583
3            111121  2018-01-04  0.005  0.662  0.009  0.036  38.708  23.833
4            111121  2018-01-05  0.005  0.767  0.006  0.044  47.875  32.708
...             ...         ...    ...    ...    ...    ...     ...     ...
43531        111312  2020-12-27  0.003  0.700  0.006  0.045  65.708  39.000
43532        111312  2020-12-28  0.003  0.754  0.004  0.054  66.708  44.250
43533        111312  2020-12-29  0.003  0.683  0.008  0.037  64.375  41.000
43534        111312  2020-12-30  0.002  0.275  0.013  0.019  37.958  13.500
43535        111312  2020-12-31  0.003  0.342  0.010  0.027  29.750  12.917

[43536 rows x 8 columns]

In [22]:
airdata.to_csv('AirData.csv')

In [17]:
cd TIL/210709

C:\Users\SEC\TIL\210709

In [18]:
whe=pd.read_csv('C:/Users/SEC/TIL/210708-시간전처리/전처리 완료/whether.csv')

In [20]:
whe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1096 entries, 0 to 1095
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1096 non-null   int64
 1   Station Code  1096 non-null   int64
 2   Name          1096 non-null   object
 3   Date          1096 non-null   object
 4   Temp          1096 non-null   float64
 5   Prec          418 non-null    float64
 6   WS            1096 non-null   float64
 7   Humi          1096 non-null   float64
 8   Pres          1095 non-null   float64
 9   cbwd          1096 non-null   int64
dtypes: float64(5), int64(3), object(2)
memory usage: 85.8+ KB

In [23]:
whe.Prec.fillna(0,inplace=True)

In [24]:
whe.isnull().sum()

Unnamed: 0      0
Station Code    0
Name            0
Date            0
Temp            0
Prec            0
WS              0
Humi            0
Pres            1
cbwd            0
dtype: int64

In [26]:
pres_med=whe.Pres.median()

In [27]:
whe.Pres.fillna(pres_med,inplace=True)

In [28]:
whe.isnull().sum()

Unnamed: 0      0
Station Code    0
Name            0
Date            0
Temp            0
Prec            0
WS              0
Humi            0
Pres            0
cbwd            0
dtype: int64

In [29]:
whe.to_csv('Whether.csv')